.btn-link{
  display: inline-block;
  padding: 2rem;
  background-color: var(--font-tertiary-color);
  color: var(--font-fourth-color);
  width: 18rem;
  text-align: center;
  border-radius: 5rem;
  font-weight: 800;
  font-size: 2.3rem;
}