.btn-a{
  color: var(  --font-secondary-color);
}


.btn-link{
  display: inline-block;
  padding: 2rem 1rem;
  background-color: var(--font-primary-color);
  color: var(--font-fourth-color);
  width: 18rem;
  text-align: center;
  border-radius: 5rem;
  font-weight: 600;
  font-size: 1.6rem;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.btn-link:hover{
  background: #000;
  box-shadow: inset 0 0 0 1px #fff;
  color: #fff;
}