.btn-a{
  color: var(  --font-secondary-color);
}


.btn-link{
  display: inline-block;
  padding: 2rem 1rem;
  width: 18rem;
  border-radius: 2rem;
  font-size: 2rem;
  color: #fff;
  font-weight: 700;
  background: #020628;
  text-align: center;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
  
}

.btn-link:hover{
  background: #fff;
  color: #000;
}