/* ====================
   HEADER SECTION
   ==================== */
.head{
    padding: 6rem 2.4rem;
    max-width: 167rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
 height: 12rem;
 
}
.logos{
  z-index: 999;
}
.logo{
    font-size: 5rem;
    font-weight: 900;
    color: #fff;
}

.main-nav{
  display: flex;
  gap: 5rem;
  align-items: center;
}

/* ====================
   MOBILE NAVIGATION 
   ==================== */

.nav-menu{
  cursor: pointer;
  z-index: 999;
  display: none;
}

.btn-menu{
  width: 3rem;
  height: 3rem;
  stroke: #fff;
}

.btn-close{
  display: none;
}
/* ====================
   FOOTER SECTION
   ==================== */
.footer{
  background-color: var(--background-color);
  padding-top: 12rem;
    padding-bottom: 6rem;
}

.footer-grid{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5rem;
  margin-bottom: 4rem;
}

.footer-heading{
  font-size: 2.5rem;
  line-height: 1.2;
  color: var(--font-primary-color);
  font-weight: 600;
  margin-bottom: 5rem;
}

.footer-nav{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer-form{
  display: flex;
  align-items: center;
  gap: 1.5rem;
  margin-bottom: 3rem;
  border-bottom: 0.2rem solid #bbb;
}

input{
    outline: none;
    border: none;
    background-color: var(--background-color);
    padding: 1rem 2rem;
    color: #ffff;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.btn{
  margin-bottom: 1rem;
}

.footer-copy{
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--font-secondary-color);
}

.year{
  display: inline;
}

/* ====================
          SECTIONS 
   ==================== */


section{
  padding: 20rem 0 12rem 0;
  background-color: var(   --background-color);
}
.section-bg{
  background-color: var( --section-color);
}

.section-feature-in{
  padding: 6rem 0;
}

.section-bg-s{
  background-color: var(--section-color);
}

.section-hero{
  padding: 12rem 0;
}

