@media (min-width: 1439px) and (max-width: 1700px) {
    .layout{
    width: 100%;
    min-width: 0;
  }
  .head{
  width: 100%;
    max-width: none;
    margin: 0;
    padding: 0 2.5rem;

  }

  .container{
    width: 100%;
    padding: 0 2.5rem;
    margin: 0;
    max-width: none;
  }

  .logo{
    font-size: 3.5rem;
  }

  .footer-logo{
    font-size: 5rem;
  }

   .footer-copy{
    font-size: 1.6rem;
  }

  .footer-heading{
    font-size: 1.8rem;
  }




  .h1{
    font-size: 5.4rem;
    margin-bottom: 3rem;
  }

  .h1s{
    font-size: 4.5rem;
  }

  .h2s{
    font-size: 4.5rem;
  }

  .span{
    font-size: 2.5rem;
    letter-spacing: 0.1rem;

  }

  .h2ss{
    font-size: 4.5rem;
    line-height: 1.1;
  }

  .h2sss{
    margin-bottom: 2.5rem;
  }
  .p{
    font-size: 1.6rem;
  }

  .p-h{
    margin-bottom: 3rem;
  }

  .p--bold{
    font-size: 2.8rem;
  }

  .a-link:link,
  .a-link:visited{
    font-size: 1.3rem;
  }

  .main-nav-link:link,
.main-nav-link:visited{
    font-size: 1.3rem;

}

  .span-small{
    font-size: 2rem;
  }

  .hightlight::before{
  width: 3rem;
  padding-bottom: 3rem;
  top: 1.5rem;
  left: 2.5rem;
  border-radius: 50%;
}

.seconds::before{
left: 1.5rem;
}

.thrids::before{
left: 1.5rem;
}

  .faq-description{
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
  }

  .thrid-heading{
    font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.5;
  }

  .faq-answer{
    padding: 1rem 0;
  font-size: 1.6rem;
 line-height: 1.5;
  font-weight: 400;
  }




  .gap{
    margin-bottom: 0.5rem;
  }

  .tag{
    font-size: 1.6rem;
  }
  .tag-title{
    font-weight: 700;
  }

  .blog-heading{
    font-size: 2.5rem;
  }

  .testimonial{
    font-size: 1.6rem;
  }

  .author-name{
    font-size: 2.4rem;
  }

  .author-title{
    font-size: 1.3rem;
  }
  .footer{
    padding-bottom: 0;
  }

  .card-img{
    width: 3.5rem;
    height: 3.5rem;
    padding: 1.5rem;
  }
  .blog-img{
    border-radius: 1.5rem;
  }


} 



/****** For Screens size of 1024px to 1430px */

@media (min-width: 1270px) and (max-width: 1430px){


  .layout{
    width: 100%;
    min-width: 0;
  }
  .head{
  width: 100%;
    max-width: none;
    margin: 0;
    padding: 0 2.5rem;

  }

  .container{
    width: 100%;
    padding: 0 2.5rem;
    margin: 0;
    max-width: none;
  }

  .logo{
    font-size: 3.5rem;
  }

  .footer-logo{
    font-size: 3.5rem;
  }
  .footer-copy{
    font-size: 1.4rem;
  }

  .footer-heading{
    font-size: 1.6rem;
  }

  .a-link:link,
  .a-link:visited{
    font-size: 1.3rem;
  }

  .main-nav-link:link,
.main-nav-link:visited{
    font-size: 1.3rem;

}


  .h1{
    font-size: 4.5rem;
    margin-bottom: 2rem;
  }

  .h1s{
    font-size: 4rem;
  }

    .h2s{
    font-size: 3.5rem;
  }

  .h2{
   font-size: 3.5rem;
  }

  .h-m{
    font-weight: 700;
  }

  .span{
    font-size: 2rem;
    letter-spacing: 0.1rem;

  }

  .h2ss{
    font-size: 3rem;
    line-height: 1.1;
  }

  .h2sss{
    margin-bottom: 2.5rem;
  }

  .p{
    font-size: 1.6rem;
  }
  .p-h{
    margin-bottom: 2.5rem;
  }
  .p--bold{
    font-size: 2.8rem;
  }

  .span-small{
    font-size: 1.4rem;
  }

  .hero-img{
    width: 100%;
    border-radius: 2rem;
}

  .section-hero{
  padding: 6rem 0;
  margin-bottom: 7rem;
}

.high-light::before{
  content: "";
  position: absolute;
  width: 90%;
  padding-bottom: 4rem;
  border: 0.3rem solid #D3F985;
  border-radius: 55%;
  z-index: -1;
}


  .section-feature-in{
    padding: 3rem 0;
  margin-bottom: 3.2rem;
  }
  .span-flex{
    gap: 3rem;
  }


  .feature-img{
  height: 3.2rem;
}

  .section-why{
    padding: 4rem 0;
  margin-bottom: 3.2rem;
  }

.card-img{
    width: 3rem;
    height: 3rem;
    background-color: #D3F985;
    padding: 1.5rem;
    border-radius: 50%;
}

.second-img{
    background-color: #FCBEDC;
}
.third-img{
    background-color: #A6E8F6;
}

  .flex{
    gap: 4rem;
  }

  .flex-group{
    gap: 1rem
  }





  .section-tour{
    padding: 4rem 0;
  margin-bottom: 3.2rem;
  }


  .section-stats{
  padding: 4rem 0;
  margin-bottom: 3.2rem;
}


.hightlight::before{
  width: 3rem;
  padding-bottom: 3rem;
  top: 1rem;
  left: 1.5rem;
  border-radius: 50%;
}

.seconds::before{
left: 1.5rem;
}

.thrids::before{
left: 1.5rem;
}

  .section-testimonial{
  padding: 4rem 0;
  margin-bottom: 3.2rem;
}

   .testimonial{
    font-size: 1.4rem;
  }

  .author-name{
    font-size: 2rem;
  }

  .author-title{
    font-size: 1.2rem;
  }
  .section-faq{
  padding: 4rem 0;
  margin-bottom: 3.2rem;
  }

    .faq-description{
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
  }

  .thrid-heading{
    font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  }

  .faq-answer{
    padding: 1rem 0;
  font-size: 1.4rem;
 line-height: 1.5;
  font-weight: 400;
  }



  .section-cta{
    padding: 4rem 0;
  margin-bottom: 3.2rem;
  }

.section-blog{
  padding: 4rem 0;
  margin-bottom: 3.2rem;
}

  .gap{
    gap: 2.5rem;
    margin-bottom: 0.3rem;
  }

    .tag{
    font-size: 1.3rem;
  }
  .tag-title{
    font-weight: 800;
  }

  .blog-heading{
    font-size: 2rem;
  }

  .blog-img{
    border-radius: 1.5rem;
  }

  .footer{
    padding: 0;
    color: #fff;
}

}

@media (min-width: 1023px) and (max-width: 1260px){

  .layout{
    width: 100%;
    min-width: 0;
  }
  .head{
  width: 100%;
    max-width: none;
    margin: 0;
    padding: 0 2.5rem;

  }

  .container{
    width: 100%;
    padding: 0 2.5rem;
    margin: 0;
    max-width: none;
  }
   .logo{
    font-size: 3rem;
  }

  .footer-logo{
    font-size: 3rem;
  }
  .footer-copy{
    font-size: 1.4rem;
  }

  .footer-heading{
    font-size: 1.8rem;
  }

   .a-link:link,
  .a-link:visited{
    font-size: 1.3rem;
  }

  .main-nav-link:link,
.main-nav-link:visited{
    font-size: 1.3rem;

}


  .h1{
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }

  .h1s{
    font-size: 4rem;
  }

    .h2s{
    font-size: 3rem;
  }

  .h2{
   font-size: 3rem;
  }

  .h-m{
    font-weight: 700;
  }

  .span{
    font-size: 1.8rem;
    letter-spacing: 0.1rem;

  }

  .h2ss{
    font-size: 2.3rem;
    line-height: 1.1;
  }

  .h2sss{
    margin-bottom: 1.5rem;
  }

  .p{
    font-size: 1.4rem;
  }
  .p--bold{
    font-size: 2.5rem;
    font-weight: 700;
  }

  .p-h{
    margin-bottom: 1.5rem;
  }

  .span-small{
    font-size: 1.4rem;
  }


.nav-list{
  gap: 1.5rem;
}

.btn-black:link,
.btn-black:visited{
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    margin-right: 2rem;
}

.btn-white:link,
.btn-white:visited{
    padding: 1rem 1.5rem;
    border-radius: 2rem;
}

  .section-hero{
  padding: 4rem 0;
  margin-bottom: 5rem;
}
.hero-img{
    width: 100%;
    border-radius: 2rem;
}


.high-light::before{
  content: none;
}

  .grid{
    gap: 2.5rem;
  }

  .grids{
    gap: 2.5rem;
  }

  .flex{
    gap: 2.5rem;
  }

  .span-flex{
    gap: 2.5rem;
  }

  .grid-testimonal{
    gap: 2.5rem;
  }



 .section-feature-in{
    padding: 4rem 0;
  margin-bottom: 3.5rem;
  }
   .feature-img{
  height: 2.8rem;
}

   .section-why{
    padding: 4rem 0;
  margin-bottom: 3.5rem;
  }

.card-img{
    width: 2.5rem;
    height: 2.5rem;
    background-color: #D3F985;
    padding: 1rem;
    border-radius: 50%;
}

.second-img{
    background-color: #FCBEDC;
}
.third-img{
    background-color: #A6E8F6;
}
.section-tour{
    padding: 4rem 0;
  margin-bottom: 3.5rem;
  }


.section-stats{
  padding: 4rem 0;
  margin-bottom: 3.5rem;
}

.hightlight::before{
  content: none;
}

.section-testimonial{
  padding: 4rem 0;
  margin-bottom: 3.5rem;
}

.testimonial{
  font-size: 1.4rem;
}

.author-name{
    font-size: 2rem;
  }

  .author-title{
    font-size: 1.2rem;
  }

  .section-faq{
    padding: 4rem 0;
  margin-bottom: 3.5rem;
  }

   .faq-description{
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
  }

  .thrid-heading{
    font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  }

  .faq-answer{
    padding: 1rem 0;
  font-size: 1.4rem;
 line-height: 1.5;
  font-weight: 400;
  }

  .section-cta{
    padding: 4rem 0;
  margin-bottom: 3.5rem;
  }

.section-blog{
  padding: 4rem 0;
  margin-bottom: 3.5rem;
}

  .gap{
    gap: 2.5rem;
    margin-bottom: 0.3rem;
  }

    .tag{
    font-size: 1.3rem;
  }
  .tag-title{
    font-weight: 800;
  }

  .blog-heading{
    font-size: 1.8rem;
  }

.footer{
    padding-top: 4rem;
    padding-bottom: 0;
  }
}

@media (min-width: 610px) and (max-width: 993px){


  .layout{
    width: 100%;
    min-width: 0;
  }
  .head{
  width: 100%;
    max-width: none;
    margin: 0;
    padding: 0 2.5rem;
    position: relative;

  }

  .container{
    width: 100%;
    padding: 0 5rem;
    margin: 0;
    max-width: none;
  }
    .logo{
    font-size: 5rem;
    z-index: 20;
  }

  .footer-logo{
    font-size: 5rem;
  }

 .nav-open .logo{
  color: #fff;
}

  .mobile-nav{
    display: block;
  }

  .main-nav{
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    transform: translateX(100%);
    transition: all 0.3s linear;
    opacity: 0;
    pointer-events: none;
    visibility: none;
  }


  .nav-list{
    flex-direction: column;
    padding-top: 30rem;
    gap: 6rem;
  }


 .main-nav-link:link,
.main-nav-link:visited{
  color: #fff;
  font-size: 3rem;
  transition: all 0.3s linear;
}

 .main-nav-link:hover,
.main-nav-link:active{
  color: #aaa;
  transform: translateX(30px);
}


.main-nav-cta:link,
.main-nav-cta:visited{
    background: none;
    padding: none;
    color: #fff;
    border-radius: none
}

.main-nav-cta:hover,
.main-nav-cta:active{
    background-color: none;
    box-shadow: none;
    color: #aaa;
}

.mobile-nav{
  z-index: 20;
}

.nav-open .main-nav{
  opacity: 1;
  z-index: 10;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.nav-open .menu-icon[name="close-outline"]{
    display: block;
}

.nav-open .menu-icon[name="menu-outline"]{
    display: none;
}


.nav-open .mobile-nav .menu-icon{
  color: #fff;

}

.flex{
  gap: 4rem;
  text-align: center;
}

.grid{
  gap: 8rem;
}

.grid-2-col{
  grid-template-columns: 1fr;
}

.grid-3-col{
  grid-template-columns: 1fr;
}

.hero-text-box{
  text-align: center;
}



.h1{
  font-size: 7.4rem;
  text-align: center;
  line-height: 1.2;
}

.p{
  font-size: 2.4rem;
}


/* Section Feature In.     */

.containers{
   overflow: hidden;
   position: relative;
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -mask-imagd: linear-gradient(to right, transparent, black 10%, black 90%, transparent)
}

.feature-in-img{
  gap: 8rem;
  animation: scroll 18s linear infinite;
}

.feature-img{
  height: 5rem;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: grayscale(100%) brightness(0.9);
  opacity: 100%;
}

.containers:hover .feature-in-img{
 animation-play-state: paused;
}

.feature-img:hover{
  transform: scale(1.1);
  filter: grayscale(0%) brightness(1);
}

@keyframes scroll {
  0%{
    transform: translateX(0%);
  }

  100%{
    transform: translateX(-50%);
  }
}

/*.             */


/*.     Section Why Choose Us. */

.span-flex{
  gap: 8rem;
}


  /*.         */


  /*.      Section Tour.    */





  /*.    Section Stats.    */

  .span-s{
    text-align: center;
    display: block;
  }

  .h-ms{
    text-align: center;
    line-height: 1.2;
  }

  .stats-col{
    grid-template-columns: 1fr 1fr;
  }

  .stats-1,
  .stats-3{
    justify-self: end;
  }

.h-m{
    font-size: 8rem;
    font-weight: 800;
  }

  .span-small{
    font-size: 2.5rem;
  }

  .grid-testimonal{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards-1,
  .cards-2,
  .cards-3,
  .cards-4,
  .cards-5{
  align-self: auto;
  width: 70%;
  cursor: pointer;
    transition: all 0.4s linear;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.1);
  }

 .grid-testimonal .cards:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2);

 }

  .testimonial{
    font-size: 2.4rem;
  }



  /*.         */
.h2sss{
  text-align: center;
}

/*.    Section Blog.    */


.gap{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
  .gap article{
    width: 70%;
  }

  .blog-img{
    border-radius: 2rem;
  }


  /*.        Footer Section.  */

  .gaps{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }

  .contact-col{
    text-align: center;
  }

  .footer-copy{
    font-size: 2.4rem;
  }


  .cta{
    flex-direction: column;
    align-items: center;
  }

  .cta input{
    padding: 2rem 0;
    font-size: 2.4rem;
    margin-bottom: 3rem;
    border-bottom: 2px solid #fff;
  }
  .cta input:focus {
  outline: none;
  border-bottom: 2px solid #fff;
}

.cta .form-btn{
    padding: 1.2rem 2.4rem;
    font-size: 3rem;
}

.footer-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer-heading{
  font-size: 3rem;
}

.footer-link{
  display: flex;
  flex-direction: columns;
  align-items: center;
}

.a-footer:link,
.a-footer:visited{
  font-size: 2.5rem;
}

.footer-copy{
  font-size: 2.5rem;
  margin-top: 2rem;
  text-align: center;
}

.faq-description{
  font-size: 1.6rem;
  text-align: center;
}

}

@media (min-width: 500px) and (max-width: 607px){

    .layout{
    width: 100%;
    min-width: 0;
  }
  .head{
  width: 100%;
    max-width: none;
    margin: 0;
    padding: 0 2rem;
    position: relative;
  }

  .container{
    width: 100%;
    padding: 0 5rem;
    margin: 0;
    max-width: none;
  }

      .logo{
    font-size: 5rem;
    z-index: 20;
  }

  .footer-logo{
    font-size: 5rem;
  }

 .nav-open .logo{
  color: #fff;
}

  .mobile-nav{
    display: block;
  }

  .main-nav{
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    transform: translateX(100%);
    transition: all 0.3s linear;
    opacity: 0;
    pointer-events: none;
    visibility: none;
  }


  .nav-list{
    flex-direction: column;
    padding-top: 10rem;
    gap: 3rem;
  }


 .main-nav-link:link,
.main-nav-link:visited{
  color: #fff;
  font-size: 3rem;
  transition: all 0.3s linear;
}

 .main-nav-link:hover,
.main-nav-link:active{
  color: #aaa;
  transform: translateX(30px);
}


.main-nav-cta:link,
.main-nav-cta:visited{
    background: none;
    padding: none;
    color: #fff;
    border-radius: none
}

.main-nav-cta:hover,
.main-nav-cta:active{
    background-color: none;
    box-shadow: none;
    color: #aaa;
}

.mobile-nav{
  z-index: 20;
}

.nav-open .main-nav{
  opacity: 1;
  z-index: 10;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.nav-open .menu-icon[name="close-outline"]{
    display: block;
}

.nav-open .menu-icon[name="menu-outline"]{
    display: none;
}


.nav-open .mobile-nav .menu-icon{
  color: #fff;

}

.flex{
  gap: 4rem;
  text-align: center;
}

.grid{
  gap: 5rem;
}


.grid-2-col{
  grid-template-columns: 1fr;
}

.grid-3-col{
  grid-template-columns: 1fr;
}

.h1{
  font-size: 4.5rem;
  text-align: center;
  line-height: 1.2;
}

.p{
  font-size: 1.7rem;
}

.section-hero{
  margin-top: 1.8rem;
  padding: 1.8rem 0;
  margin-bottom: 1.8rem;
}

.hero-text-box{
  text-align: center;
}

.high-light{
  position: relative;
  z-index: 1;
}

.high-light::before{
  content: "";
  position: absolute;
  width: 90%;
  padding-bottom: 4.5rem;
  border: 0.2rem solid #D3F985;
  border-radius: 55%;
  z-index: -1;
}

.hero-img-box{
  width: 100%;
  height: 70%;
}



/*.        Section Features In. */

.section-feature-in{
  padding: 1.8rem 0;
  margin-bottom: 1.8rem;
}

.span{
  font-size: 1.8rem;
  font-weight: 500;
}


.containers{
   overflow: hidden;
   position: relative;
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -mask-imagd: linear-gradient(to right, transparent, black 10%, black 90%, transparent)
}

.feature-in-img{
  gap: 5rem;
  animation: scroll 18s linear infinite;
}

.feature-img{
  height: 3rem;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: grayscale(100%) brightness(0.9);
  opacity: 100%;
}

.containers:hover .feature-in-img{
 animation-play-state: paused;
}

.feature-img:hover{
  transform: scale(1.1);
  filter: grayscale(0%) brightness(1);
}

@keyframes scroll {
  0%{
    transform: translateX(0%);
  }

  100%{
    transform: translateX(-50%);
  }
}

/*.     Section Why Choose Us. */


  .section-why{
  padding: 1.8rem 0;
  margin-bottom: 1.8rem;
}
.span-flex{
  gap: 5rem;
}

.h2{
  font-size: 3rem;
}

.flex-s{
  text-align: center;
}



.p--bold{
  font-size: 2.2rem;
}
.card-img{
  height: 3.2rem;
  width: 3.2rem;
}


  /*.         */


  /*.      Section Tour.    */

  .section-tour{
  padding: 1.8rem 0;
  margin-bottom: 1.8rem;
}
  .h2s{
    font-size: 3rem;
  }


    /*.    Section Stats.    */


  .section-stats{
  padding: 1.8rem 0;
  margin-bottom: 1.8rem;
}
  .span-s{
    text-align: center;
    display: block;
  }

  .h2ss{
    font-size: 3rem;
  }

  .h-ms{
    text-align: center;
    line-height: 1.2;
  }
  .h-m{
    font-size: 2.7rem;
  }

  .stats-col{
    grid-template-columns: 1fr 1fr;
  }

  .stats-1,
  .stats-3{
    justify-self: end;
  }
  .span-small{
    font-size: 1.3rem;
  }


.hightlight::before{
  width: 2.3rem;
  padding-bottom: 2.3rem;
  top: 1rem;
  left: 2rem;
}

.seconds::before{
left: 1.5rem;
}

.thrids::before{
left: 1.5rem;
}


  .stats-img-box{
    align-self: center;
    justify-self: center;
  }

  /*.     Section Testimonial */

  .section-testimonial{
  padding: 1.8rem 0;
  margin-bottom: 1.8rem;
}

    .grid-testimonal{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards-1,
  .cards-2,
  .cards-3,
  .cards-4,
  .cards-5{
  align-self: auto;
  width: 95%;
    transition: all 0.4s linear;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.1);
  }

 .grid-testimonal .cards:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2);

 }

  .testimonial{
    font-size: 1.6rem;
  }
  .author-name{
    font-size: 1.8rem;
  }

  .author-title{
    font-size: 1.3rem;
  }



  /*.         */
.h2sss{
  text-align: center;
}

/*.     Section FQA.    */
.section-faq{
  padding: 1.8rem 0;
  margin-bottom: 1.8rem;
}

.faq-description{
  font-size: 1.6rem;
  text-align: center;
}

.thrid-heading{
  font-size: 2rem;
}

.faq-answer{
  font-size: 1.4rem;
}

.faq-img{
  width: 2rem;
  height: 2rem;
}

/*.   Section CTA.    */

.section-cta{
  padding: 1.8rem 0;
  margin-bottom: 1.8rem;
}

.h1s{
  font-size: 3.5rem;
}


/*.      Section Blog.  */
.section-blog{
  padding: 1.8rem 0;
  margin-bottom: 1.8rem;
}

.tag{
  font-size: 1.4rem;
}

.blog-heading{
  font-size: 1.8rem;
}

.blog-btn{
  font-size: 1.4rem;
}

.blog-icon{
  width: 1.4rem;
  height: 1.4rem;
}
.gap{
  gap: 2rem;
}


/*.      Section Footer.  */

.footer{
  padding: 1.8rem 0;
  margin-bottom: 1.8rem;
}

  .gaps{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.8rem;
  }

  .contact-col{
    text-align: center;
  }

  .footer-copy{
    font-size: 1.6rem;
  }


  .cta{
    flex-direction: column;
    align-items: center;
  }

  .cta input{
    padding: 1.6rem 0;
    font-size: 1.6rem;
    margin-bottom: 3rem;
    border-bottom: 2px solid #fff;
  }
  .cta input:focus {
  outline: none;
  border-bottom: 2px solid #fff;
}

.cta .form-btn{
    padding: 1.2rem 2.4rem;
    font-size: 1.6rem;
}

.footer-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.8rem;
}

.footer-heading{
  font-size: 2.5rem;
}

.footer-link{
  display: flex;
  flex-direction: columns;
  align-items: center;
}

.a-footer:link,
.a-footer:visited{
  font-size: 1.6rem;
}

.footer-copy{
  font-size: 1.6rem;
  margin-top: 1.8rem;
  text-align: center;
}
}

@media (min-width: 300px) and (max-width: 490px){

    .layout{
    width: 100%;
    min-width: 0;
  }
  .head{
  width: 100%;
    max-width: none;
    margin: 0 0;
    padding: 0 1rem;
    position: relative;
    height: 4rem;
    background-color: #000000;
  }

  .sticky .head{
    height: 3rem;
}

.menu-icon{
    height: 2.3rem;
    width: 2.3rem;
    color: #ddd;
}

  .container{
    width: 100%;
    padding: 0 1rem;
    margin: 0;
    max-width: none;
  }


  footer{
    background-color: yellow;
  }




        .logo{
    font-size: 3rem;
    z-index: 20;
    letter-spacing: 0;
    color: #ddd;
  }

  .footer-logo{
    font-size: 5rem;
  }
  /*Mobile Navigation Section */
 .nav-open .logo{
  color: #fff;
}

  .mobile-nav{
    display: block;
  }

  .main-nav{
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    transform: translateX(100%);
    transition: all 0.3s linear;
    opacity: 0;
    pointer-events: none;
    visibility: none;
  }


  .nav-list{
    flex-direction: column;
    padding-top: 10rem;
    gap: 3rem;
  }


 .main-nav-link:link,
.main-nav-link:visited{
  color: #fff;
  font-size: 2rem;
  transition: all 0.3s linear;
}

 .main-nav-link:hover,
.main-nav-link:active{
  color: #aaa;
  transform: translateX(10px);
}


.main-nav-cta:link,
.main-nav-cta:visited{
    background: none;
    padding: none;
    color: #fff;
    border-radius: none
}

.main-nav-cta:hover,
.main-nav-cta:active{
    background-color: none;
    box-shadow: none;
    color: #aaa;
}

.mobile-nav{
  z-index: 20;
}

.nav-open .main-nav{
  opacity: 1;
  z-index: 10;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.nav-open .menu-icon[name="close-outline"]{
    display: block;
}

.nav-open .menu-icon[name="menu-outline"]{
    display: none;
}


.nav-open .mobile-nav .menu-icon{
  color: #fff;

} 

/**     Section Hero        */

.section-hero{
  margin-top: 0;
  background: #000;
    margin-bottom: 0;
    padding: 5rem 0;
  }

  .mobile-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .hero-text-box{
  }

  .h1{
    font-size: 4.5rem;
    text-align: center;
    line-height: 1.1;
    margin-bottom: 1rem;
    color: #E5E5E5;
  }

  .high-light::before{
    content: none;
  }

  .p{
    font-size: 1.6rem;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 1.6;
    color: #999999;
  }

  .a-link:link,
  .a-link:visited{
    font-size: 1rem;
    padding: 1rem 1.5rem;
    border-radius: 1.5rem;
  }

  .btn-black:link,
  .btn-black:visited{
    margin-right: 0;
    background-color: rgba(157, 255, 58, 0.8);
    color: #000;
   box-shadow: 0 0 0 rgba(153, 153, 153, 0.10);
  }
  .btn-black:hover,
  .btn-black:active{
    background-color: #000;
    color: #eee;
    box-shadow: inset 0 0 0 1px #999;

  }
  .btn-white:link,
  .btn-white:visited{
    color: #eee;
    box-shadow: 0 0 0 rgba(153, 153, 153, 0.10);
    box-shadow: inset 0 0 0 1px #999;
  }

  .btn-white:hover,
  .btn-white:active{
    background-color: rgba(157, 255, 58, 0.8);
    color: #000;
    box-shadow: none;
  }


  .btn-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
  }

  .hero-img-box{
    align-items: center;
    justify-items: center;
    max-width: 100%;
  }

  .hero-img{
    display: block;
    width: 98%;
    height: 100%;
    border-radius: 1rem;
  }


  /** Section feature in    " */

  .section-feature-in{
    background-color: #0F0F10;
    padding: 3rem 0;
    margin-bottom: 0;
  }
  .spanss{
    gap: 2rem;
  }
  .span{
    font-size: 1.5rem;
    letter-spacing: 0;
    text-transform: none;
  }

  .flex-s{
    color: #494949;
  }
  .feature-imgs{
    display: flex;
  width: max-content;
  animation: scroll 18s linear infinite;
  }

  .containers{
   overflow: hidden;
   position: relative;
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -mask-imagd: linear-gradient(to right, transparent, black 10%, black 90%, transparent)
}

.secondss-img{
  display: block;
}


.feature-img{
  height: 2rem;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: grayscale(100%) brightness(0.9);
  opacity: 70%;
  margin: 0 2rem;
}

.containers:hover .feature-in-img{
 animation-play-state: paused;
}

.feature-img:hover{
  transform: scale(1.1);
  filter: grayscale(0%) brightness(1);
  opacity: 80%;
}

@keyframes scroll {
  0%{
    transform: translateX(0%);
  }

  100%{
    transform: translateX(-50%);
  }
}



/*.  Section Why Choose Us. */

.section-why{
  background-color: #000;
  padding: 3rem 0;
    margin-bottom: 0;
}

.section-why .grid{
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
  align-items: center;
}

.section-why .grid .card{
  width: 98%;
  padding: 2rem 2rem;
  border-radius: 1.4rem;
  gap: 1rem;
  background: rgba(13, 14, 20, 0.9);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}


.card-img{
  width: 2.4rem;
  height: 2.4rem;
  background: none;
  color: rgba(157, 255, 58, 0.8);
  padding: 0;
}


.p--bold{
  font-size: 2.4rem;
  color: #eee;
}



.h2{
  font-size: 3.5rem;
  letter-spacing: 0;
  color: #fff;
}

/*.      Section Tour.    */

.section-tour{
  padding: 3rem 0;
    margin-bottom: 0;
    background-color: #000002;
}

.section-tour .flex{
  gap: 3rem;
}

.flex .span{
  color: #9DFF3A;
  font-size: 2rem;
}


.flex-group .h2s{
  color: #eee;
  text-align: center;
  font-size: 3rem;
}


/*.          Section-stats.    */

.section-stats{
  background-color: #000;
  padding: 3rem 0;
    margin-bottom: 0;
}


.section-stats .stats-text-box{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-stats .span{
  font-size: 2rem;
  color: #9DFF3A;
}

.section-stats .h-ms{
  font-size: 3rem;
  text-align: center;
  color: #eee;
}

.stats-1 .h-m,
.stats-2 .h-m,
.stats-3 .h-m,
.stats-4 .h-m{
  color: #9DFF3A;
  font-size: 2rem;
  text-align: center;
}

.span-small{
  font-size: 1rem;
  color: #999;
}

.stats-1,
.stats-3{
  justify-self: end;
}


.hightlight::before{
  content: none;
}




.grid-2-col{
  grid-template-columns: 1fr;
}

.stats-col{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;

}

.stats-img-box{
  justify-self: center;
}

.stats-img-box .hero-img{
  width: 98%;
}
  /*.      Section Testimonial. */
  .section-testimonial{
    padding: 3rem 0;
    margin-bottom: 0;
    background-color: #0F0F0F;
  }

  .section-testimonial .span{
    color: #9DFF3A;
    font-size: 2rem;
  }

  .grid-testimonal{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .grid-testimonal .flex{
    gap: 2rem;
  }
  .cards{
  padding: 2rem 2rem;
  border-radius: 1.4rem;
  background: rgba(13, 14, 20, 0.9);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  }

  .cards-img{
    width: 8rem;
    height: 8rem;
    filter: grayscale(100%) brightness(0.9);
  }
  .testimonial{
    font-size: 1.6rem;
    color: #999;
  }

  .author-name{
    font-size: 2rem;
    color: #ccc;
  }
  .author-title{
    font-size: 1.3rem;
    color: #999;
  }

}