@media (min-width: 1430px) and (max-width: 1670px){
  .layout{
    min-width: 143rem;
    max-width: 167rem;
  }
  .container{
    width: 100%;
    max-width: none;
    padding: 0 2.4rem;
    margin: 0 auto;
  }
  
  p{
    font-size: 2rem;
  }
  
  a{
    font-size: 1.5rem;
  }
  
  .btn-link{
    font-size: 1.6rem;
    width: 15rem;
  }

  /* ====================
   HEADER SECTION
   ==================== */
.head{
  width: 100%;
  max-width: none;
  padding: 4rem 2.4rem;
  height: 10rem;
}

.logo{
    font-size: 4rem;
}

.main-nav{
  gap: 2.5rem;
}






/* ====================
   FOOTER SECTION
   ==================== */
.footer{
  padding-top: 8rem;
    padding-bottom: 4rem;
}

.footer-grid{
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

.footer-heading{
  font-size: 2rem;
  margin-bottom: 3rem;
}


.footer-form{
  margin-bottom: 1.5rem;
}

input{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.btn{
  margin-bottom: 1rem;
}

.footer-copy{
  font-size: 2rem;
}

}

/* ====================
   FOR SCREEN WIDTH OF 127rem
   ==================== */



@media (min-width: 1270px) and (max-width: 1420px){
  .layout{
    min-width: 127rem;
    max-width: 142rem;
  }
    .container{
    width: 100%;
    max-width: none;
    padding: 0 2.4rem;
    margin: 0 auto;
  }
p{
    font-size: 2rem;
  }
  a{
    font-size: 1.5rem;
  }
    .btn-link{
    font-size: 1.6rem;
    width: 15rem;
    padding: 1.5rem;
  }
  
    /* ====================
   HEADER SECTION
   ==================== */
.head{
  width: 100%;
  max-width: none;
  padding: 4rem 2.4rem;
  height: 10rem;
}

.logo{
    font-size: 4rem;
}

.main-nav{
  gap: 2.5rem;
}

/* ====================
   FOOTER SECTION
   ==================== */
.footer{
  padding-top: 8rem;
    padding-bottom: 4rem;
}

.footer-grid{
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

.footer-heading{
  font-size: 2rem;
  margin-bottom: 3rem;
}


.footer-form{
  margin-bottom: 1.5rem;
}

input{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.btn{
  margin-bottom: 1rem;
}

.footer-copy{
  font-size: 2rem;
}

}
