@media (min-width: 1430px) and (max-width: 1670px){
  .layout{
    min-width: 143rem;
    max-width: 167rem;
  }
  .container{
    width: 100%;
    max-width: none;
    padding: 0 2.4rem;
    margin: 0 auto;
  }
  
  
  p{
    font-size: 2rem;
  }
  
  a{
    font-size: 1.8rem;
  }
  
  .btn-link{
    font-size: 2rem;
    width: 15rem;
  }

  /* ====================
   HEADER SECTION
   ==================== */
.head{
    padding: 2rem 2.4rem;
    max-width: none;
 height: 8rem;
}

.logo{
    font-size: 4rem;
}

.main-nav{
  gap: 3rem;
}






/* ====================
   FOOTER SECTION
   ==================== */
.footer{
  padding-top: 8rem;
    padding-bottom: 4rem;
}

.footer-grid{
  grid-gap: 3rem;
  margin-bottom: 2rem;
}

.footer-heading{
  font-size: 2rem;
  margin-bottom: 3rem;
}


.footer-form{
  margin-bottom: 1.5rem;
}

input{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.btn{
  margin-bottom: 1rem;
}

.footer-copy{
  font-size: 2rem;
}

}
