@media (min-width: 1430px) and (max-width: 1670px){
  .layout{
    min-width: 143rem;
    max-width: 167rem;
  }
  .container{
    width: 100%;
    max-width: none;
    padding: 0 2.4rem;
    margin: 0 auto;
  }
  
  
 h1{
  font-size: 4.8rem;
}

h2{
  font-size: 3.2rem;
}
  p{
    font-size: 1.8rem;
  }
  

  /* ====================
   HEADER SECTION
   ==================== */
.head{
    padding: 2rem 2.4rem;
    max-width: 143rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
 height: 12rem;
}

.logo{
    font-size: 4rem;
    font-weight: 900;
    letter-spacing: -0.3rem;
    color: #fff;
}

.main-nav{
  display: flex;
  gap: 3rem;
  align-items: center;
}
}
