@media (min-width: 1430px) and (max-width: 1670px){
  .layout{
    min-width: 143rem;
    max-width: 167rem;
  }
  .container{
    width: 100%;
    max-width: none;
  }
  
  p{
    font-size: 2rem;
  }
  
  a{
    font-size: 1.5rem;
  }
  
  .btn-link{
    font-size: 1.6rem;
    width: 15rem;
  }

  /* ====================
   HEADER SECTION
   ==================== */
.head{
  width: 100%;
  max-width: none;
  padding: 4rem 2.4rem;
  height: 10rem;
}

.logo{
    font-size: 4rem;
}

.main-nav{
  gap: 2.5rem;
}






/* ====================
   FOOTER SECTION
   ==================== */
.footer{
  padding-top: 8rem;
    padding-bottom: 4rem;
}

.footer-grid{
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

.footer-heading{
  font-size: 2rem;
  margin-bottom: 3rem;
}


.footer-form{
  margin-bottom: 1.5rem;
}

input{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.btn{
  margin-bottom: 1rem;
}

.footer-copy{
  font-size: 2rem;
}

}

/* ====================
   FOR SCREEN WIDTH OF 127rem
   ==================== */

@media (min-width: 1270px) and (max-width: 1420px){
  .layout{
    min-width: 127rem;
    max-width: 142rem;
  }
    .container{
    width: 100%;
    max-width: none;
  }
p{
    font-size: 2rem;
  }
  a{
    font-size: 1.5rem;
  }
    .btn-link{
    font-size: 1.6rem;
    width: 15rem;
    padding: 1.5rem;
  }
  
    /* ====================
   HEADER SECTION
   ==================== */
.head{
  width: 100%;
  max-width: none;
  padding: 4rem 2.4rem;
  height: 10rem;
}

.logo{
    font-size: 3.5rem;
}

.main-nav{
  gap: 2.5rem;
}

/* ====================
   FOOTER SECTION
   ==================== */
.footer{
  padding-top: 8rem;
    padding-bottom: 4rem;
}

.footer-grid{
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

.footer-heading{
  font-size: 2rem;
  margin-bottom: 3rem;
}


.footer-form{
  margin-bottom: 1.5rem;
}

input{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.btn{
  margin-bottom: 1rem;
}

.footer-copy{
  font-size: 2rem;
}

}

/* ====================
   FOR SCREEN WIDTH OF 1020rem
   ==================== */

@media (min-width: 1020px) and (max-width: 1260px){

.layout{
    min-width: 102rem;
    max-width: 126rem;
  }
    .container{
    width: 100%;
    max-width: none;
  }
p{
    font-size: 2rem;
  }
  a{
    font-size: 1.5rem;
  }
    .btn-link{
    font-size: 1.6rem;
    width: 15rem;
    padding: 1.5rem;
  }
  
    /* ====================
   HEADER SECTION
   ==================== */
.head{
  width: 100%;
  max-width: none;
  padding: 4rem 2.4rem;
  height: 10rem;
}

.logo{
    font-size: 3rem;
}

.main-nav{
  gap: 2.5rem;
}

/* ====================
   FOOTER SECTION
   ==================== */
.footer{
  padding-top: 8rem;
    padding-bottom: 4rem;
}

.footer-grid{
  grid-gap: 3rem;
  margin-bottom: 2rem;
}

.footer-heading{
  font-size: 2rem;
  margin-bottom: 3rem;
}


.footer-form{
  margin-bottom: 1.5rem;
}

input{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.btn{
  margin-bottom: 1rem;
}

.footer-copy{
  font-size: 1.6rem;
}

}

/* ====================
   FOR SCREEN WIDTH OF 31rem to 77rem
   ==================== */

@media (min-width: 310px) and (max-width: 770px){
  
  .layout{
    width: 100%;
    min-width: 31rem;
    max-width: 77rem;
  }
  
 .container{
    width: 100%;
    padding: 0 1.5rem;
  }
  p{
    font-size: 1.6rem;
  }
  a{
    font-size: 1.5rem;
  }
    .btn-link{
    font-size: 1.5rem;
    width: 15rem;
    padding: 1.5rem;
  }
  
    /* ====================
   HEADER SECTION
   ==================== */
.head{
  width: 100%;
  max-width: none;
  padding: 2rem 1rem;
  height: 3rem;
  position: relative;
}

.logo{
    font-size: 3rem;
}


.main-nav{
  gap: 2.5rem;
}


    /* ====================
   MOBILE NAVIGATION MENU 
   ==================== */

.main-nav{
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10rem;
  margin-left: 2rem;
}

.main-nav .end{
  position: absolute;
  bottom: 2rem;
  right: 2rem;
}

.btn-m{
  font-size: 3rem;
  color: var(--font-primary-color);
  font-weight: 600;
}

.header-nav{
    background-color: #000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;;
    opacity: 0;
    pointer-events: none;
    visibility: none;
    z-index: 666;
  }
  

.nav-open .header-nav{
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.nav-open .btn-open{
  display: none;
}

.nav-open .btn-close{
  display: block;
}


/* ====================
   FOOTER SECTION
   ==================== */
.footer{
  display: none;
  padding-top: 8rem;
    padding-bottom: 4rem;
}

.footer-grid{
  grid-gap: 3rem;
  margin-bottom: 2rem;
}

.footer-heading{
  font-size: 2rem;
  margin-bottom: 3rem;
}


.footer-form{
  margin-bottom: 1.5rem;
}

input{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.btn{
  margin-bottom: 1rem;
}

.footer-copy{
  font-size: 1.6rem;
}

}