@media (min-width: 1430px) and (max-width: 1670px){
  .layout{
    min-width: 143rem;
    max-width: 167rem;
  }
  .container{
    width: 100%;
    max-width: none;
  }
  
  .sticky .head{
    padding: 4rem 1rem;
    height: 6rem;
  }
  
  h1{
  font-size: 4.8rem;
}

h2{
  font-size: 4rem;
}

h3{
  font-size: 2.8rem;
}

h4{
  font-size: 2rem;
}

  
  p{
    font-size: 1.8rem;
  }
  
  a{
    font-size: 1.5rem;
  }
  
  .btn-link{
    font-size: 1.6rem;
    width: 18rem;
  }
  .margin{
    margin-top: 8rem;
  }

   /* ====================
   HEADER SECTION
   ====================*/
.head{
  width: 100%;
  max-width: none;
  padding: 4rem 2.4rem;
  height: 10rem;
}

.logo{
    font-size: 4rem;
}

.main-nav{
  gap: 2.5rem;
}
   /* ====================
   SPAN ELEMENT
   ==================== */
.span{
  font-size: 2.5rem;
}
   /* ====================
   GRID LAYOUT 
   ==================== */
.grid{
  gap: 3rem;
}

/* ====================
  FLEX LAYOUT
   ==================== */
   .flex-c{
     gap: 2rem;
   }
   
   .flex-w{
    width: 80%;
   }
   
/* ====================
  SECTION 
   ==================== */
   
   .section-hero{
     padding: 10rem 0;
   }
   
   section{
  padding: 8rem 0;
}
   
   /* ====================
  SECTION ( )
   ==================== */
.subhead{
  font-size: 2.5rem;
}

/* ====================
SPECIAL SECTION
   ==================== */
   .icons{
     width: 40px;
     height: 40px;
   }
   
   .card{
     gap: 2rem;
   }
   
   .cards{
     width: 65px;
     height: 65px;
   }
   
   .video-card{
  margin: 10px auto 0 auto;
  width: 90%;
  height: 60rem;
  border-radius: 3rem;
  box-shadow: inset 0 0 0 2px #444;
}

.play{
  width: 65px;
  height: 65px;
}

.span-b{
  font-size: 4rem;
}


.grids{
  gap: 1.5rem;
}

.ticard{
  padding: 1.5rem 2rem;
}

.tcard{
  gap: 1.5rem;
}

.tcards{
  gap: 1rem;
}

.tim{
  width: 65px;
  height: 65px;
}

.tspan{
  font-size: 1.6rem;
}

.faq{
  gap: 2.5rem;
  margin: 2rem auto;
}

.faq-q{
  font-size: 2rem;
}

.arrow{
  width: 40px;
  height: 40px;
}



/* ====================
   FOOTER SECTION
   ==================== */
.footer{
  padding-top: 8rem;
    padding-bottom: 4rem;
}

.footer-grid{
  grid-gap: 2rem;
  margin-bottom: 2rem;
}


input{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.btn{
  margin-bottom: 1rem;
}

.footer-copy{
  font-size: 2rem;
}

}

/* ====================
   FOR SCREEN WIDTH OF 127rem
   ==================== */

@media (min-width: 1270px) and (max-width: 1420px){
  .layout{
    min-width: 127rem;
    max-width: 142rem;
  }
    .container{
    width: 100%;
    max-width: none;
  }
  
  .sticky .head{
    padding: 4rem 1rem;
    height: 4rem;
  }
  h1{
  font-size: 4.3rem;
}

h2{
 font-size: 3.5rem; 
}

h3{
  font-size: 2.3rem;
}

h4{
  font-size: 2rem;
}


p{
    font-size: 1.8rem;
  }
  a{
    font-size: 1.5rem;
  }
    .btn-link{
    font-size: 1.6rem;
    width: 18rem;
    padding: 1.5rem;
  }
   .margin{
    margin-top: 6rem;
  }
  
     /* ====================
   SPAN ELEMENT
   ==================== */
.span{
  font-size: 2rem;
}
  
    /* ====================
   HEADER SECTION
   ==================== */
.head{
  width: 100%;
  max-width: none;
  padding: 4rem 2.4rem;
  height: 10rem;
}

.logo{
    font-size: 3.5rem;
}

.main-nav{
  gap: 2.5rem;
}


   /* ====================
   GRID LAYOUT 
   ==================== */
.grid{
  gap: 3rem;
}

       /* ====================
  FLEX LAYOUT
   ==================== */
   .flex-c{
     gap: 2rem;
   }
   
      .flex-w{
    width: 80%;
   }
/* ====================
  SECTION 
   ==================== */
   
   .section-hero{
     padding: 10rem 0;
   }
   .section-feature-in{
  padding: 4rem 0;
}

section{
  padding: 8rem 0 8rem 0;
}
   
      /* ====================
  SECTION ( )
   ==================== */
.subhead{
  font-size: 2.2rem;
}

/* ====================
SPECIAL SECTION ( FEATURE IN)
   ==================== */
  .icons{
    width: 30px;
    height: 30px;
  }
  
  .card{
    gap: 2rem;
  }
  
  .cards{
    width: 50px;
    height: 50px;
  }
  
     .video-card{
  margin: 10px auto 0 auto;
  width: 90%;
  height: 50rem;
  border-radius: 3rem;
  box-shadow: inset 0 0 0 2px #444;
}

.play{
  width: 50px;
  height: 50px;
}

.span-b{
  font-size: 3rem;
}


.grids{
  gap: 1.5rem;
}

.ticard{
  padding: 1.5rem 2rem;
}

.tcard{
  gap: 1.5rem;
}

.tcards{
  gap: 1rem;
}

.tim{
  width: 50px;
  height: 50px;
}

.tspan{
  font-size: 1.6rem;
}

.faq{
  gap: 2.5rem;
  margin: 2rem auto;
}

.faq-q{
  font-size: 2rem;
}
.arrow{
width: 40px;
  height: 40px;
}





/* ====================
   FOOTER SECTION
   ==================== */
.footer{
  padding-top: 8rem;
    padding-bottom: 4rem;
}

.footer-grid{
  grid-gap: 2rem;
  margin-bottom: 2rem;
}

.footer-heading{
  font-size: 2rem;
  margin-bottom: 3rem;
}


.footer-form{
  margin-bottom: 1.5rem;
}

input{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.btn{
  margin-bottom: 1rem;
}

.footer-copy{
  font-size: 2rem;
}

}

/* ====================
   FOR SCREEN WIDTH OF 1020rem
   ==================== */

@media (min-width: 1020px) and (max-width: 1260px){

.layout{
    min-width: 102rem;
    max-width: 126rem;
  }
    .container{
    width: 100%;
    max-width: none;
  }
  
  .sticky .head{
    padding: 4rem 1rem;
    height: 4rem;
  }
  h1{
  font-size: 3.8rem;
}

h2{
  font-size: 3rem;
}

h3{
  font-size: 2rem;
}

h4{
  font-size: 1.8rem;
}


p{
    font-size: 1.6rem;
  }
  a{
    font-size: 1.5rem;
  }
.btn-link{
    font-size: 1.6rem;
    width: 18rem;
    padding: 1.5rem;
  }
  
   .margin{
    margin-top: 4rem;
  }
  
     /* ====================
   SPAN ELEMENT
   ==================== */
.span{
  font-size: 1.3rem;
}
  
    /* ====================
   HEADER SECTION
   ==================== */
.head{
  width: 100%;
  max-width: none;
  padding: 4rem 2.4rem;
  height: 10rem;
}

.logo{
    font-size: 3rem;
}

.main-nav{
  gap: 2.5rem;
}

   /* ====================
   GRID LAYOUT 
   ==================== */
.grid{
  gap: 3rem;
}

       /* ====================
  FLEX LAYOUT
   ==================== */
   .flex-c{
     gap: 2rem;
   }
   
      .flex-w{
    width: 80%;
   }

/* ====================
  SECTION 
   ==================== */
  
   .section-hero{
     padding: 8rem 0;
   }
   
      /* ====================
  SECTION ( )
   ==================== */
.subhead{
  font-size: 2rem;
}

.section-feature-in{
  padding: 4rem 0;
}

section{
  padding: 7rem 0 8rem 0;
}

/* ====================
SPECIAL SECTION ( FEATURE IN)
   ==================== */
   
   .icons{
     width: 25px;
     height: 25px;
   }
   
   .card{
     gap: 1.5rem;
   }
   
   .cards{
     width: 45px;
     height: 45px;
   }
   
      .video-card{
  margin: 10px auto 0 auto;
  width: 90%;
  height: 50rem;
  border-radius: 2rem;
  box-shadow: inset 0 0 0 2px #444;
}

.play{
  width: 45px;
  height: 45px;
}

.span-b{
  font-size: 3rem;
}


.grids{
  gap: 1.5rem;
}

.ticard{
  padding: 1.5rem 2rem;
}

.tcard{
  gap: 1.5rem;
}

.tcards{
  gap: 1rem;
}

.tim{
  width: 45px;
  height: 45px;
}

.tspan{
  font-size: 1.4rem;
}

.faq{
  width: 99rem;
  gap: 2.5rem;
  margin: 2rem auto;
}

.arrow{
  width: 30px;
  height: 30px;
}

.faq-q{
  font-size: 1.8rem;
}





/* ====================
   FOOTER SECTION
   ==================== */
.footer{
  padding-top: 8rem;
    padding-bottom: 4rem;
}

.footer-grid{
  grid-gap: 3rem;
  margin-bottom: 2rem;
}

.footer-heading{
  font-size: 1.8rem;
  margin-bottom: 3rem;
}


.footer-form{
  margin-bottom: 1.5rem;
}

input{
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.btn{
  margin-bottom: 1rem;
}

.footer-copy{
  font-size: 1.6rem;
}

}

/* ====================
   FOR SCREEN WIDTH OF 31rem to 77rem
   ==================== */

@media (min-width: 310px) and (max-width: 770px){
  
  .layout{
    width: 100%;
    min-width: 31rem;
    max-width: 77rem;
  }
  
 .container{
    width: 100%;
    padding: 0 1.5rem;
  }
  
  .sticky .head{
    padding: 2rem 1rem;
    height: 3rem;
  }
  
  h1{
  font-size: 3.5rem;
  }
  
  h2{
    font-size: 2.5rem;
  }
  
  h3{
    font-size: 1.8rem;
  }

p{
  font-size: 1.5rem;
}

  a{
    font-size: 1.5rem;
  }
    .btn-link{
    font-size: 1.5rem;
    width: 15rem;
    padding: 1.5rem;
  }
  
   .margin{
    margin-top: 6rem;
  }
  
  .margin-b{
    margin-bottom: 1.5rem;
  }
  
     /* ====================
   SPAN ELEMENT
   ==================== */
.span{
  font-size: 1rem;
}
  
    /* ====================
   HEADER SECTION
   ==================== */
.head{
  width: 100%;
  max-width: none;
  padding: 2rem 1rem;
  height: 3rem;
  position: relative;
}

.logo{
    font-size: 2.5rem;
}
.nav-menu{
  display: block;
}

.main-nav{
  gap: 2.5rem;
}


    /* ====================
   MOBILE NAVIGATION MENU 
   ==================== */

.main-nav{
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10rem;
  margin-left: 2rem;
}

.main-nav .end{
  position: absolute;
  bottom: 10%;
  right: 5%;
}

.btn-m{
  font-size: 2rem;
  color: var(--font-primary-color);
  font-weight: 600;
}

.header-nav{
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;;
    opacity: 0;
    pointer-events: none;
    visibility: none;
    z-index: 666;
  }
  

.nav-open .header-nav{
  transform: translateX(0);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.nav-open .btn-open{
  display: none;
}

.nav-open .btn-close{
  display: block;
}

.imgs{
  border-radius: 1rem;
}

/* ====================
   SECTION LAYOUT
   ==================== */
.section-hero{
  padding: 6rem 0;
}

section{
  padding: 5rem 0 8rem 0;
}

      /* ====================
  SECTION ( )
   ==================== */
.subhead{
  font-size: 1.8rem;
}

.section-feature-in{
  padding: 2rem 0;
}

/* ====================
SPECIAL SECTION ( FEATURE IN)
   ==================== */
   
.icons{
  width: 10px;
  height: 10px;
}

.card{
  gap: 1.5rem;
  justify-content: center;
  background: #111;
  padding: 1rem 1.5rem;
  border-radius: 2rem;
  box-shadow: inset 0 0 0 1px #222;
}

.cards{
  width: 35px;
  height: 35px;
  
}

.video-card{
  margin: 10px auto 0 auto;
  width: 100%;
  height: 30rem;
  border-radius: 2rem;
  box-shadow: inset 0 0 0 1px #444;
}

.play{
  width: 35px;
  height: 35px;
}

.span-b{
  font-size: 3rem;
}

.center{
  text-align: center;
}

.stats{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}


/* ====================
SECTIOM Testimonial 
   ==================== */
.grids{
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.ticard{
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.tcard{
  gap: 1rem;
}

.tcards{
  gap: 1rem;
}

.tauthors{
  font-weight: 500;
}

.tspan{
  font-size: 1.3rem;
  font-weight: 400;
}

.tim{
  width: 30px;
  height: 30px;
}


.faq{
 width: 31rem;
 margin: 1.5rem auto;
 gap: 1rem;
}

.faq-question{
  box-shadow: inset 0 0 0 1px #222;
}

.open:hover{
  border-top: 1px solid #fff;
}

.faq-q{
  font-size: 1.7rem;
}

.arrow{
  width: 25px;
  height: 25px;
}

.faq-answer{
  margin-left: 5px;
}




/* ====================
   GRID LAYOUT
   ==================== */
   .grid{
     gap: 3rem;
   }
.grid-2-col{
  grid-template-columns: 1fr;
}

.grid-3-col{
  grid-template-columns: 1fr;
}

/* ====================
   FLEX LAYOUT
   ==================== */
   
   .flex-c{
     gap: 1rem;
   }
   
   .flex-r{
     text-align: center;
   }
   
   .flex-g{
     gap: 0.5rem;
   }

/* ====================
   FOOTER SECTION
   ==================== */
.footer{
  padding-top: 4rem;
    padding-bottom: 4rem;
}

.footer-grid{
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  align-items: center;
}

.footer-heading{
  font-size: 2rem;
  margin-bottom: 3rem;
}

.footer-subscribe{
  text-align: center;
}

.footer-nav{
  align-items: center;
}


.footer-form{
  margin-bottom: 1.5rem;
  flex-direction: column;
  border: none;
  align-items: center;
}

input{
    font-size: 2rem;
    margin-bottom: 1rem;
    border-bottom: 0.1rem solid #ccc;
}

.btn{
  margin-bottom: 1rem;
}

.footer-copy{
  font-size: 1.6rem;
}

}