/**{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}
body{
    font-family: "Roboto", sans-serif;
    background-color: #F1F3F5;
    overflow-x: hidden;
}

.layout{
    min-width: 170rem;
    max-width: 192rem;
    margin: 0 auto;
    
}

.heading{
    color: #1a1a1a;
}

.hero-img{
    width: 100%;
    border-radius: 4rem;
}


.h2s{
    font-size: 5.6rem;
    line-height: 1.3;
    font-size: 700;
    letter-spacing: 0.2rem;
}

.h2ss{
    font-size: 5.6rem;
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

.h1{
    font-size: 6.4rem;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: 4rem;
}

.h1s{
   font-size: 7.2rem;
    line-height: 1.1;
    font-weight: 800;
}

.h2{
    font-size: 4.8rem;
    line-height: 1.2;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

.h2sss{
    margin-bottom: 3.2rem;
}

.h3{
    font-size: 2.4rem;
    line-height: 1.4;
    font-weight: 600;
}

.p{
    font-size: 2.4rem;
    line-height: 1.5;
    font-weight: 400;
    color: #313131;
}
.p-h{
    margin-bottom: 4rem;
}

.p--footer{
    color: #ccc;
}

.p--bold{
    line-height: 1.5;
    color: #1a1a1a;
    font-weight: 700;
    font-size: 4.5rem;
}

.container{
    width: 100%;
    max-width: 170rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

.head{
    padding: 3rem 2.4rem;
    max-width: 170rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
 height: 6rem;
}

.sticky .head{
    position: fixed;
    top: 0;
    bottom: 0;
    height: 8rem;
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2);
    padding-top: 0;
    padding-bottom: 0;
}

.sticky .section-hero{
    margin-top: 4rem;
}


.logo{
    font-size: 8rem;
    font-weight: 900;
    letter-spacing: -0.3rem;
    color: #1a1a1a;
}



.nav-list{
  display: flex;
  gap: 3rem;
  list-style: none;
  align-items: center;
}

.main-nav-link:link,
.main-nav-link:visited{
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 500;
    color: #313131;
    transition: all 0.3s linear;
    
}

.main-nav-link:hover,
.main-nav-link:active{
    color: #000;
}

.main-nav-cta:link,
.main-nav-cta:visited{
    background-color: #1a1a1a;
    padding: 1.5rem 2rem;
    color: #fff;
    border-radius: 4rem;
}

.main-nav-cta:hover,
.main-nav-cta:active{
    background-color: #fff;
    box-shadow: 0 0 0 0.1rem #1a1a1a;
    color: #1a1a1a;
}

.mobile-nav{
    border: none;
    background: none;
    cursor: pointer;
    display: none;
}

.menu-icon{
    height: 5.8rem;
    width: 5.8rem;
    color: #1a1a1a;
}

.menu-icon[name="close-outline"]{
    display: none;
}



.a-link:link,
.a-link:visited{
    display: inline-block;
   text-decoration: none;
   font-size: 1.6rem;
   color: #313131;
   font-weight: 500;
   transition: all 0.3s linear;
}












.btn-black:link,
.btn-black:visited{
    background-color: #1a1a1a;
    color: #fff;
    padding: 1.2rem 2.4rem;
    border-radius: 2.3rem;
    margin-right: 2.4rem;
}

.btn-black:hover,
.btn-black:active{
    background-color: #fff;
    box-shadow: inset 0 0 0 0.1rem #1a1a1a;
    color: #1a1a1a;
}

.btn-white:link,
.btn-white:visited{
    color: #1a1a1a;
    padding: 1.2rem 2.4rem;
    border-radius: 2.3rem;
    box-shadow: inset 0 0 0 0.1rem #1a1a1a;
}

.btn-white:hover,
.btn-white:active{
    background-color: #1a1a1a;
    color: #fff;
}


.grid{
    display: grid;
    gap: 5rem;
}

.hero-text-box{
    align-self: center;
}

.grids{
    display: grid;
    gap: 10rem;
    align-items: center
}

.grid-2-col{
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-col{
    grid-template-columns: repeat(3, 1fr);
}

.footer{
    padding-top: 12rem;
    padding-bottom: 0;
    color: #fff;
}

.cols{
    background-color: #1a1a1a;
    padding: 1.6rem;
    border-radius: 2rem;
    
}

.footer-logo{
    display: inline-block;
    font-size: 8rem;
    font-weight: 900;
    letter-spacing: -0.3rem;
    color: #fff;
    margin-bottom: 2.4rem;
}

.footer-copy{
    color: #ccc;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 1.6rem;
}
.cta{
    display: flex;
    gap: 1.6rem;
    margin-bottom: 2.4rem;
}
.cta input{
    width: 70%;
    border: none;
    background-color: #1a1a1a;
    padding: 0.8rem 1.2rem;
    font-size: 1.6rem;
        border-bottom: 0.1rem solid #fff;
    color: #fff;
    font-size: 1.6rem;
}

.cta .form-btn{
    border: none;
    padding: 0.8rem 1.2rem;
    background-color: #fff;
    border-radius: 2.3rem;
    color: #1a1a1a;
    font-weight: 500;
    transition: all 0.3s linear;
    font-size: 1.6rem;
}

.cta .form-btn:hover{
    background-color: #1a1a1a;
    color: #fff;
    box-shadow: 0 0 0 0.1rem #fff;
}
.a-footer:link,
.a-footer:visited{
    display: inline-block;
   text-decoration: none;
   font-size: 1.6rem;
   color: #ccc;
   font-weight: 500;
}

.footer-nav{
    align-self: center;
}

.footer-heading{
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.4rem;
}

.footer-link{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    list-style: none;
}




.span{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
}



.span-flex{
    display: flex;
    flex-direction: column;
    gap: 6rem;
}
.flex-s{
    align-self: center;
}


.span-s{
    display: inline-block;
   margin-bottom: 2rem;
}

.span-small{
    font-size: 2.4rem;
    display: block;
    font-weight: 400;
    color: #313131;
    
}

.span-ss{
    text-align: center;
    display: block;
    margin-bottom: 2rem;
}


.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.card-img{
    width: 7rem;
    height: 7rem;
    background-color: #D3F985;
    padding: 2rem;
    border-radius: 50%;
}

.second-img{
    background-color: #FCBEDC;
}
.third-img{
    background-color: #A6E8F6;
}



.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6rem;
}


.flex-group{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}


.blog-img{
  max-width: 100%;
  height: 50%;
  border-radius: 4rem;
}

.blog{
    padding: 2rem 0;
}
.gap{
    padding: 2rem 0;
    margin-bottom: 2rem;
    max-width: 100%;
}


.span-tag{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
    align-items: center;
}

.tag{
    display: inline-block;
    font-size: 2rem;
}

.tag-title{
    color: #1a1a1a;
    font-weight: 800;
    letter-spacing: 0.1rem;
}

.trend,
.talk,
.productivity{
    
    padding: 0.8rem 1rem;
    border-radius: 1rem;
}

.trend{
    background-color: #A6E8F6;
}

.productivity{
    background-color: #FCBEDC;
}

.talk{
    background-color: #D3F985;
}

.time{
    color: #313131;
}

.blog-heading{
    font-size: 3.6rem;
    line-height: 1.3;
    font-weight: 800;
    margin-bottom: 2rem;
}

.blog-btn:link,
.blog-btn:visited{
    display: inline-flex;
    align-items: center ;
    gap: 2rem;
   text-decoration: none;
   font-size: 2rem;
   color: #313131;
   font-weight: 500;
   transition: all 0.3s linear;
}

.blog-btn:hover,
.blog-btn:active{
    color: #1a1a1a;
}

.blog-icon{
    width: 2.4rem;
    stroke: #313131;
}

.btn-view-all{
    display: flex;
  align-items: center;
  justify-content: center;
}*/