/* ====================
SPECIAL SECTION ( FEATURE IN)
   ==================== */
   .icons{
     width: 50px;
     height: 50px;
     filter: grayscale(100%);
     opacity: 80%;
   }


/* ====================
SECTIOM WHY 
   ==================== */
.card{
  display: flex;
  flex-direction: column;
 text-align: center;
 gap: 3rem;
 align-items: center;
}

.cards{
  width: 80px;
  height: 80px;
}

.video-card{
  width: 140rem;
  height: 80rem;
  background-color: #000;
  margin: 30px  auto 0 auto;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 3px #444;
}

.play{
  width: 80px;
  height: 80px;
}