/* ====================
SPECIAL SECTION ( FEATURE IN)
   ==================== */
   .icons{
     width: 50px;
     height: 50px;
     filter: grayscale(100%);
     opacity: 80%;
   }


/* ====================
SECTIOM WHY 
   ==================== */
.card{
  display: flex;
  flex-direction: column;
 text-align: center;
 gap: 1.5rem;
 align-items: center;
  background: #111;
  padding: 1rem 1.5rem;
  border-radius: 1rem;
  box-shadow: inset 0 0 0 1px #222;
}

.cards{
  width: 80px;
  height: 80px;
}

.video-card{
  width: 140rem;
  height: 80rem;
  background-color: #000;
  margin: 30px  auto 0 auto;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 3px #444;
}

.play{
  width: 80px;
  height: 80px;
}


/* ====================
SECTIOM STAT 
   ==================== */



.span-b{
  font-size: 3rem;
  font-weight: 600;
}

/* ====================
SECTIOM Testimonial 
   ==================== */

.grids{
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
}



.col-01{
  grid-column: 1/ 3;
}

.col-02{
  grid-column: 3/ 5;
}

.col-03{
  grid-column: 5/ 7;
}

.col-04{
  grid-column: 2/ 4;
}

.col-05{
  grid-column: 4/ 6;
}

.ticard{
  display: flex;
  justify-content: center;
  padding: 2rem 3rem;
  border-radius: 2rem;
  background: #000;
  box-shadow: inset 0 0 0 1px #444;
}


.tcard{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.tcards{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.tim{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  filter: grayscale(100%);
}






.tspan{
  font-size: 1.8rem;
  color: var(--font-secondary-color);
  font-weight: 400;
  line-height: 1.6;
}


.tauthor{
  font-weight: 700;
}



/* ====================
SECTIOM FAQ 
   ==================== */

.faq-span{
  font-size: 1.6rem;
  color: var(--font-secondary-color);
  line-height: 1.6;
}

.faq{
  width: 120rem;
    margin: 3rem auto;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.faq-question{
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  box-shadow: inset 0 0 0 2px #555;
  padding: 1rem 2rem;
  border-radius: 1rem;
}

.faq-q{
  font-size: 2.4rem;
  grid-column:  1/ 3;
  font-weight: 400;
}

.arrow{
  width: 50px;
  height: 50px;
  grid-column: 3/4;
}



.faq-answer{
  grid-column: 1 / -1;
    margin-left: 20px;
    display: none;
}

.faq-span{
  margin-top: 1rem;
  font-size: 1.8rem;
}

.open{
  transition: 0.2s all linear;
}

.open:hover{
  border-top: 2px solid #fff;
  transform: translateY(2px);
}

.open:hover .arrow{
  transform: rotate(180deg);
    transition-duration: 0.3s;
}

.open:hover .faq-answer{
  display: block;
}

.faq-btn{
  margin-top: 3rem;
}




/* ====================
SECTION Blog
   ==================== */
article{
  background: #111;
  padding: 2rem;
  border-radius: 2rem;
}
.art-img{
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 80%;
  border-radius: 1rem;
}

.article-span-div{
  display: flex;
  gap: 3rem;
  align-items: center;
}

.article-span{
  font-size: 1.6rem;
  color: #fff;
  font-weight: 600;
}

.article-span-1{
  background: #fff;
  color: #000;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
}



/* ====================
SECTION Our Mission
   ==================== */
 
 .span-b{
   font-weight: 400;
 }
 
 
 .mission-grid{
   display: grid;
   gap: 2rem;
 }
 
   
.span-li{
  font-weight: 600;
  color: var(--font-primary-color);
  font-size: 1.8rem;
}


.mission-list{
  display: flex;
  align-items: center;
  gap: 1.5rem;
}