/* ====================
SPECIAL SECTION ( FEATURE IN)
   ==================== */
   .icons{
     width: 50px;
     height: 50px;
     filter: grayscale(100%);
     opacity: 80%;
   }


/* ====================
SECTIOM WHY 
   ==================== */
.card{
  display: flex;
  flex-direction: column;
 text-align: center;
 gap: 3rem;
 align-items: center;
}

.cards{
  width: 80px;
  height: 80px;
}

.video-card{
  width: 140rem;
  height: 80rem;
  background-color: #000;
  margin: 30px  auto 0 auto;
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: inset 0 0 0 3px #444;
}

.play{
  width: 80px;
  height: 80px;
}


/* ====================
SECTIOM STAT 
   ==================== */



.span-b{
  font-size: 5rem;
  font-weight: 800;
}

/* ====================
SECTIOM Testimonial 
   ==================== */

.grids{
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 1fr;
}



.col-01{
  grid-column: 1/ 3;
}

.col-02{
  grid-column: 3/ 5;
}

.col-03{
  grid-column: 5/ 7;
}

.col-04{
  grid-column: 2/ 4;
}

.col-05{
  grid-column: 4/ 6;
}

.ticard{
  display: flex;
  justify-content: center;
  padding: 2rem 3rem;
  border-radius: 2rem;
  background: #000;
  box-shadow: inset 0 0 0 1px #444;
}


.tcard{
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.tcards{
  display: flex;
  align-items: center;
  gap: 2rem;
}

.tim{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  filter: grayscale(100%);
}






.tspan{
  font-size: 1.8rem;
  color: var(--font-secondary-color);
  font-weight: 800;
  line-height: 1.6;
}


.tauthor{
  font-weight: 700;
}
