/* ====================
SPECIAL SECTION ( FEATURE IN)
   ==================== */
   .icons{
     width: 50px;
     height: 50px;
     filter: grayscale(100%);
     opacity: 80%;
   }


/* ====================
SECTIOM WHY 
   ==================== */
.card{
  display: flex;
  flex-direction: column;
 text-align: center;
 gap: 3rem;
 align-items: center;
}

.cards{
  width: 80px;
  height: 80px;
}