:root{
  /* ====================
  Background  Color
   ==================== */
   --background-color: #000;
   --section-color: #1D1D1D;
   
   
   
     /* ====================
  Font Color 
   ==================== */
  --font-primary-color: #fff;
  --font-secondary-color: #ccc;
  --font-tertiary-color: #eee;
  --font-fourth-color: #000;
}


*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
  font-size: 2rem;
  color: var(--font-primary-color);
}
img{
  max-width: 100%;
  display: block;
}

ul,
ol{
  list-style: none;
}

button{
  background: none;
  border: none;
}

h1{
  font-size: 5.6rem;
  line-height: 1.1;
  font-weight: 800;
  color: var(--font-primary-color);
}

h2{
  font-size: 4.8rem;
  line-height: 1.2;
  font-weight: 600;
  color: var(--font-primary-color);
}

h3{
  font-size: 3.6rem;
  line-height: 1.2;
  font-weight: 600;
  color: var(--font-primary-color);
}

p{
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.6;
  color: var(--font-secondary-color);
}

.subhead{
  font-size: 2.8rem;
    font-weight: 600;
    color: var(--font-tertiary-color);
}

.text-center{
  text-align: center;
}

span{
  display: block;
}

.span{
  color: var(--font-primary-color);
  font-size: 3rem;
  font-weight: 500;
}

     /* ====================
  GRID LAYOUT
   ==================== */
   .grid{
     display: grid;
     gap: 5rem;
   }
   
  .grid-2-col{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }
  
  .grid-3-col{
    grid-template-columns: repeat(3, 1fr);
  }
  
  
       /* ====================
  FLEX LAYOUT
   ==================== */
   
   .flex{
     display: flex;
   }
   /* Flex */
   .flex-r{
     justify-content: space-around;
   }
   /* Flex Column */
   .flex-c{
     flex-direction: column;
     gap: 3rem;
   }
   /* Flex Gap */
   .flex-g{
     gap: 1rem;
     align-items: center;
   }
   
   
    /* ====================
  IMAGE LAYOUT
   ==================== */
   
   .img{
  width: 100%;
  aspect-ratio: 3/2;
  object-fit: cover;
}

 .imgs{
width: 100%;
height: 100%;
border-radius: 2rem;
}

.margin{
  margin-top: 10rem;
}