@import url("css/variable.css");
@import url("css/layout.css");
@import url("css/second-layout.css");
@import url("css/component.css");








html{
 font-size: 62.5%;
/* overflow-x: hidden;*/
 
}

body{
font-family: "Roboto", sans-serif;
 /*overflow-x: hidden*/
}

.layout{
    min-width: 167rem;
    max-width: 192rem;
    margin: 0 auto;
    background: var(--background-color);
    background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

.container{
    width: 100%;
    max-width: 167rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

