.logo{
  font-size: 10rem;
  font-weight: 900;
  letter-spacing: -5px;
  display: block;
}

.subheading{
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.78px;
  text-align: center;
  margin-bottom: 4rem;
}

.container{
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
  padding: 0 3rem;
}

.heading-secondary{
  font-size: 6rem;
  font-weight: 800;
  letter-spacing: 0.9px;
  margin-bottom: 8rem;
  line-height: 1.1;
}

.heading-secondary-align{
  text-align: center;
}

.grid{
  display: grid;
  gap: 5rem;
}

.grid-2-col{
    grid-template-columns: repeat(2,1fr);
}

.grid-3-col{
  grid-template-columns: repeat(3, 1fr);
}

.second-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}