.container{
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
  padding: 0 6rem;
}

.logo{
  font-size: 10rem;
  font-weight: 900;
  letter-spacing: -5px;
  display: block;
}

.grid{
  display: grid;
  gap: 5rem;
}

.grid-2-col{
  grid-template-columns: repeat(2, 1fr);
}

.grid-3-col{
  grid-template-columns: repeat(3, 1fr);
}

.flex{
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
}

.subheading{
  display: inline-block;
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.78px;
}

.hero-span-box{
  display: flex;
  margin-bottom: 4rem;
}

.tag{
  display: inline-block;
  font-size: 2rem;
  padding: 0.8rem 0.8rem;
}
.tag-span-right{
  margin-right: 2rem;
}

.topic{
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0.8rem;
}

.first{
  background-color: #A6E8F6;
}
.second{
  background-color: #FCBEDC;
}
.third{
  background-color: #D3F985;
}

.time{
  font-weight: 400;
  color: #666;
}

.subheading-1{
  text-transform: uppercase;
  margin-bottom: 4rem;
}

.subheading-2{
  color: #555;
  margin-bottom: 2rem;
}

.heading-primary{
  font-size: 9rem;
  line-height: 1.1;
  margin-bottom: 2rem;
  font-weight: 800;
}

.description{
  font-size: 3rem;
  line-height: 1.5;
}

.description-1{
  margin-bottom: 4rem;
}

.blog-card-span{
  margin-bottom: 2rem;
}



.blog-card-img{
  border-radius: 3rem;
  width: 100%;
  height: 60%;
}

.blog-icon{
  width: 2.4rem;
  height: 2.4rem;
}

.blog-card-heading{
  font-size: 4.5rem;
  line-height: 1.1;
  margin-bottom: 2rem;
}

.heading-secondary{
  font-size: 6rem;
  font-weight: 800;
  letter-spacing: 0.9px;
  line-height: 1.1;
  margin-bottom: 4rem;
}

