.logo{
  font-size: 10rem;
  font-weight: 900;
  letter-spacing: -5px;
  display: block;
}

.heading-primary{
  font-size: 8rem;
  line-height: 1.1;
  margin-bottom: 4rem;
  font-weight: 800;
}

.description{
  font-size: 3rem;
  line-height: 1.6;
}

.description-1{
  font-weight: 400;
  margin-bottom: 4rem;
}

.description-2{
  font-weight: 500;
}

.description-3{
  font-weight: 400;
  margin-bottom: 6rem;
}

.heading-secondary{
  font-size: 6rem;
  font-weight: 800;
  letter-spacing: 0.9px;
  line-height: 1.1;
}

.heading-secondary-1{
  margin-bottom: 4rem;
}

.heading-secondary-2{
  margin-bottom: 5rem;
}

.subheading{
  display: inline-block;
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 0.78px;
}

.subheading-2{
  margin-bottom: 2rem;
}

.container{
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
  padding: 0 6rem;
}

.grid{
  display: grid;
  gap: 5rem;
}

.grid-2-col{
    grid-template-columns: repeat(2,1fr);
}

.grid-3-col{
  grid-template-columns: repeat(3, 1fr);
}

.grid-secondary{
  display: grid;
  gap: 2rem;
}

.sub-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem;
  column-gap: 3rem;
}

.flex{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.heading-third{
  font-size: 5rem;
  letter-spacing: 0.9px;
  font-weight: 700;
  margin-bottom: 4rem;
  line-height: 1.1;
}

