*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
body{
    background-color: #F1F3F5;
}

.layout{
    min-width: 166rem;
    
}

.heading{
    color: #1a1a1a;
}

.hero-img{
    width: 100%;
    border-radius: 4rem;
}

.h2s{
    font-size: 5.6rem;
    line-height: 1.3;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.2rem;
}

.h2ss{
    font-size: 5.6rem;
    line-height: 1.3;
    font-weight: 700;
    letter-spacing: 0.2rem;
}

.h1{
    font-size: 7.2rem;
    line-height: 1.1;
    font-weight: 800;
    margin-bottom: 4rem;
}

.h1s{
   font-size: 7.2rem;
    line-height: 1.1;
    font-weight: 800;
}

.h2{
    font-size: 5.6rem;
    line-height: 1.3;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.2rem;
    margin-bottom: 6rem;
}

.h2sss{
    margin-bottom: 3.2rem;
}

.h3{
    font-size: 2.4rem;
    line-height: 1.4;
    font-weight: 600;
}

.p{
    font-size: 2.4rem;
    line-height: 1.5;
    font-weight: 400;
    color: #313131;
}
.p-h{
    margin-bottom: 4rem;
}

.p--footer{
    color: #ccc;
}

.p--bold{
    line-height: 1.5;
    color: #1a1a1a;
    font-weight: 700;
    font-size: 3.5rem;
}

.container{
    width: 100%;
    max-width: 192rem;
    margin: 0 auto;
    padding: 0 2.4rem;
}

.head{
    padding: 3rem 0;
}

.head-container{
  max-width: 192rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
 height: 6rem;
 padding: 0 2.4rem;
}

.logo{
    font-size: 8rem;
    font-weight: 900;
    letter-spacing: -0.3rem;
    color: #1a1a1a;
}



.nav-list{
  display: flex;
  gap: 3rem;
  list-style: none;
  align-items: center;
}

.a-link:link,
.a-link:visited{
    display: inline-block;
   text-decoration: none;
   font-size: 1.6rem;
   color: #313131;
   font-weight: 500;
   transition: all 0.3s linear;
}


.nav-link:hover,
.nav-link:active{
    color: #1a1a1a;
}

.btn-black:link,
.btn-black:visited{
    background-color: #1a1a1a;
    color: #fff;
    padding: 1.2rem 2.4rem;
    border-radius: 2.3rem;
}

.btn-black:hover,
.btn-black:active{
    background-color: #fff;
    box-shadow: inset 0 0 0 0.1rem #1a1a1a;
    color: #1a1a1a;
}

.btn-white:link,
.btn-white:visited{
    color: #1a1a1a;
    padding: 1.2rem 1.2rem;
    border-radius: 2.3rem;
    box-shadow: inset 0 0 0 0.1rem #1a1a1a;
}

.btn-white:hover,
.btn-white:active{
    background-color: #1a1a1a;
    color: #fff;
}

.grid{
    display: grid;
    gap: 5rem;
}

.hero-text-box{
    align-self: center;
}

.grids{
    display: grid;
    gap: 10rem;
    align-items: center
}

.grid-2-col{
    grid-template-columns: repeat(2, 1fr);
}

.grid-3-col{
    grid-template-columns: repeat(3, 1fr);
}

.footer{
    padding: 12rem 0;
    color: #fff;
}

.cols{
    background-color: #1a1a1a;
    padding: 1.6rem;
    border-radius: 2rem;
    
}

.footer-logo{
    display: inline-block;
    font-size: 8rem;
    font-weight: 900;
    letter-spacing: -0.3rem;
    color: #fff;
    margin-bottom: 2.4rem;
}

.footer-copy{
    color: #ccc;
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
    margin-bottom: 1.6rem;
}
.cta{
    display: flex;
    gap: 1.6rem;
    margin-bottom: 2.4rem;
}
.cta input{
    width: 70%;
    border: none;
    background-color: #1a1a1a;
    padding: 0.8rem 1.2rem;
    font-size: 1.6rem;
        border-bottom: 0.1rem solid #ccc;
    color: #fff;
    font-size: 1.6rem;
}

.cta .form-btn{
    border: none;
    padding: 0.8rem 1.2rem;
    background-color: #fff;
    border-radius: 2.3rem;
    color: #1a1a1a;
    font-weight: 500;
    transition: all 0.3s linear;
    font-size: 1.6rem;
}

.cta .form-btn:hover{
    background-color: #1a1a1a;
    color: #fff;
    box-shadow: 0 0 0 0.1rem #fff;
}
.a-footer:link,
.a-footer:visited{
    display: inline-block;
   text-decoration: none;
   font-size: 1.6rem;
   color: #ccc;
   font-weight: 500;
}

.footer-nav{
    align-self: center;
}

.footer-heading{
    color: #fff;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 2.4rem;
}

.footer-link{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    list-style: none;
}


/*
Reusable Span
*/

.span{
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.2rem;
}

.span-flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    text-align: center;
}

.span-s{
    display: inline-block;
   margin-bottom: 2rem;
}

.span-small{
    font-size: 2.4rem;
    display: block;
    font-weight: 400;
    color: #313131;
    
}

.span-ss{
    text-align: center;
    display: block;
    margin-bottom: 2rem;
}

/*
Card Items

*/

.card{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    text-align: center;
}

.card-img{
    width: 6rem;
    height: 6rem;
}

.img-co{
    position: relative;
    z-index: 1;
}

.img-co::before{
    content: "";
    width: 100%;
    padding-bottom: 5rem ;
    position: absolute;
    background-color: #D3F985;
    border-radius: 50%;
    z-index: -1;
    top: 0.8rem;
    left: 0.5rem;
}

.second::before{
    background-color: #A6E8F6;
}

.thrid::before{
    background-color: #FCBEDC;
}

/*

General Flex
*/

.flex{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 3rem;
}

/*

Reusable Card 
*/

.cards{
    
}
