@media (min-width: 1440px) and (max-width: 1700px) {
  .layout {
    min-width: 100%;   /* allows layout to shrink */
    max-width: 1700px;   /* optional */
    margin: 0 auto;      /* center layout */
  }
  .head-container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1.6rem;
    
  }
  
  .logo{
    font-size: 4rem;
  }

  .container {
    max-width: 1440px;   /* shrink content */
    margin: 0 auto; 
    padding: 0 1.6rem;
  }

  
  /* 
  
  Headings resize 
  
  */
  
  .h1{
    font-size: 5.4rem;
    margin-bottom: 3rem;
  }
  
  .h2s{
    font-size: 4.5rem;
  }
  
  .span{
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    
  }
  
  .h2ss{
    font-size: 4.5rem;
    line-height: 1.1;
  }
  
  .h2sss{
    margin-bottom: 2.5rem;
  }
  .p{
    font-size: 1.6rem;
  }
  
  .p-h{
    margin-bottom: 3rem;
  }
  
  .p--bold{
    font-size: 3rem;
  }
  
  .a-link:link,
  .a-link:visited{
    font-size: 1.3rem;
  }
  
  .span-small{
    font-size: 2rem;
  }
  
  
  
  /* 
  Flex Container 
  
  */
  
  .faq-description{
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
  }
  
  .thrid-heading{
    font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.5;
  }
  
  .faq-answer{
    padding: 1rem 0;
  font-size: 1.6rem;
 line-height: 1.5;
  font-weight: 400;
  }

  /*
  grid-resize for blog
  
  */
  
  
  .gap{
    margin-bottom: 0.5rem;
  }
  
  .tag{
    font-size: 1.6rem;
  }
  .tag-title{
    font-weight: 700;
  }
  
  .blog-heading{
    font-size: 2.5rem;
  }
  
  /*
  
  section testimonial 
  */
  
  .testimonial{
    font-size: 1.6rem;
  }
  
  .author-name{
    font-size: 2.4rem;
  }
  
  .author-title{
    font-size: 1.6rem;
  }
}



/****** For Screens size of 1024px to 1430px 


*/
@media (min-width: 1023px) and (max-width: 1430px){
  .layout{
    width: 100%;
    min-width: 0;
  }
  
  .container{
    width: 100%;
    padding: 0 1rem;
    margin: 0;
    max-width: none;
  }
  
  section{
    
  }
}