@media (min-width: 1440px) and (max-width: 1700px) {
  .layout {
    min-width: 100%;   /* allows layout to shrink */
    max-width: 1700px;   /* optional */
    margin: 0 auto;      /* center layout */
  }
  .head-container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1.6rem;
    
  }
  
  .logo{
    font-size: 4rem;
  }

  .container {
    max-width: 1440px;   /* shrink content */
    margin: 0 auto; 
    padding: 0 1.6rem;
  }

  
  /* 
  
  Headings resize 
  
  */
  
  .h1{
    font-size: 5.4rem;
    margin-bottom: 3rem;
  }
  
  .h2s{
    font-size: 4.5rem;
  }
  
  .span{
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    
  }
  
  .h2ss{
    font-size: 4.5rem;
    line-height: 1.1;
  }
  
  .h2sss{
    margin-bottom: 2.5rem;
  }
  .p{
    font-size: 1.6rem;
  }
  
  .p-h{
    margin-bottom: 3rem;
  }
  
  .p--bold{
    font-size: 3rem;
  }
  
  .a-link:link,
  .a-link:visited{
    font-size: 1.3rem;
  }
  
  .span-small{
    font-size: 2rem;
  }
  
  
  
  /* 
  Flex Container 
  
  */
  
  .faq-description{
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
  }
  
  .thrid-heading{
    font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.5;
  }
  
  .faq-answer{
    padding: 1rem 0;
  font-size: 1.6rem;
 line-height: 1.5;
  font-weight: 400;
  }

  /*
  grid-resize for blog
  
  */
  
  
  .gap{
    margin-bottom: 0.5rem;
  }
  
  .tag{
    font-size: 1.6rem;
  }
  .tag-title{
    font-weight: 700;
  }
  
  .blog-heading{
    font-size: 2.5rem;
  }
  
  /*
  
  section testimonial 
  */
  
  .testimonial{
    font-size: 1.6rem;
  }
  
  .author-name{
    font-size: 2.4rem;
  }
  
  .author-title{
    font-size: 1.6rem;
  }
  .footer{
    padding-bottom: 0;
  }
}



/****** For Screens size of 1024px to 1430px 


*/
@media (min-width: 1270px) and (max-width: 1430px){
/*  html{
    font-size: 56.25%;
  }*/
  
  .layout{
    width: 100%;
    min-width: 0;
  }
  
  .container{
    width: 100%;
    padding: 0 2.5rem;
    margin: 0;
    max-width: none;
  }
  
  
  .h1{
    font-size: 4.5rem;
    margin-bottom: 2rem;
  }
  
  .h1s{
    font-size: 4rem;
  }
  
    .h2s{
    font-size: 3.5rem;
  }
  
  .h2{
   font-size: 3.5rem;
  }
  
  .h-m{
    font-weight: 700;
  }
  
  .span{
    font-size: 2rem;
    letter-spacing: 0.1rem;
    
  }
  
  .h2ss{
    font-size: 3.5rem;
    line-height: 1.1;
  }
  
  .h2sss{
    margin-bottom: 2.5rem;
  }
  
  .p{
    font-size: 1.4rem;
  }
  .p--bold{
    font-size: 2.5rem;
  }
  
  .span-small{
    font-size: 1.4rem;
  }
  
  .hero-img{
    width: 100%;
    border-radius: 2rem;
}
  
  .section-hero{
  padding: 6rem 0;
  margin-bottom: 7rem;
  background-color: yellow;
}
  
  .section-feature-in{
    padding: 3rem 0;
  margin-bottom: 3.2rem;
  background-color: yellow;
  }
  
  .feature-in-img{
  display: flex;
  gap: 2.5rem;
  }
  .feature-img{
  height: 3.2rem;
  filter: brightness(0);
  opacity: 60%;
  max-width: 100%;
}
  
  .section-why{
    padding: 4rem 0;
  margin-bottom: 3.2rem;
  background-color: yellow;
  }
  
  .card-img{
    width: 3rem;
    height: 3rem;
  }
  
 .flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
  .section-tour{
    padding: 4rem 0;
  margin-bottom: 3.2rem;
  background-color: yellow;
  }
  
  .span-min{
    color: red;
    display: inline-block;
    margin-bottom: 2.5rem;
  }
  
  .h2s-min{
    color: red;
    margin-bottom: 1.5rem;
  }
  
  .p-h{
    color: red;
    margin-bottom: 2.5rem;
  }
  .tour-video{
    width: 90%;
  height: 60rem;
  border-radius: 2rem;
  }
  
  .section-stats{
  padding: 4rem 0;
  margin-bottom: 3.2rem;
  background-color: yellow;
}
  
  .section-testimonial{
  padding: 4rem 0;
  margin-bottom: 3.2rem;
  background-color: yellow;
}
  
   .testimonial{
    font-size: 1.4rem;
  }
  
  .author-name{
    font-size: 2rem;
  }
  
  .author-title{
    font-size: 1.2rem;
  }
  .section-faq{
  padding: 4rem 0;
  margin-bottom: 3.2rem;
  background-color: yellow;
}

  .section-cta{
    padding: 4rem 0;
  margin-bottom: 3.2rem;
  }
  
.section-blog{
  padding: 4rem 0;
  margin-bottom: 3.2rem;
}
  
  .gap{
    gap: 2.5rem;
    margin-bottom: 0.3rem;
  }
  
    .tag{
    font-size: 1.3rem;
  }
  .tag-title{
    font-weight: 800;
  }
  
  .blog-heading{
    font-size: 2rem;
  }
  
  .footer{
    padding: 0;
    color: #fff;
}
  
}