@media (min-width: 1440px) and (max-width: 1700px) {
  .layout {
    min-width: 100%;   /* allows layout to shrink */
    max-width: 1700px;   /* optional */
    margin: 0 auto;      /* center layout */
  }
  .head-container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 1.6rem;
    
  }
  
  .logo{
    font-size: 5rem;
  }
  
  .footer-logo{
    font-size: 5rem;
  }
  
   .footer-copy{
    font-size: 1.6rem;
  }
  
  .footer-heading{
    font-size: 1.8rem;
  }

  .container {
    max-width: 1440px;   /* shrink content */
    margin: 0 auto; 
    padding: 0 1.6rem;
  }

  
  /* 
  
  Headings resize 
  
  */
  
  .h1{
    font-size: 5.4rem;
    margin-bottom: 3rem;
  }
  
  .h2s{
    font-size: 4.5rem;
  }
  
  .span{
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    
  }
  
  .h2ss{
    font-size: 4.5rem;
    line-height: 1.1;
  }
  
  .h2sss{
    margin-bottom: 2.5rem;
  }
  .p{
    font-size: 1.6rem;
  }
  
  .p-h{
    margin-bottom: 3rem;
  }
  
  .p--bold{
    font-size: 3rem;
  }
  
  .a-link:link,
  .a-link:visited{
    font-size: 1.3rem;
  }
  
  .span-small{
    font-size: 2rem;
  }
  
  .hightlight::before{
  width: 3rem;
  padding-bottom: 3rem;
  top: 1.5rem;
  left: 2.5rem;
  border-radius: 50%;
}

.seconds::before{
left: 1.5rem;
}

.thrids::before{
left: 1.5rem;
}
  
  /* 
  Flex Container 
  
  */
  
  .faq-description{
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
  }
  
  .thrid-heading{
    font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.5;
  }
  
  .faq-answer{
    padding: 1rem 0;
  font-size: 1.6rem;
 line-height: 1.5;
  font-weight: 400;
  }

  /*
  grid-resize for blog
  
  */
  
  
  .gap{
    margin-bottom: 0.5rem;
  }
  
  .tag{
    font-size: 1.6rem;
  }
  .tag-title{
    font-weight: 700;
  }
  
  .blog-heading{
    font-size: 2.5rem;
  }
  
  /*
  
  section testimonial 
  */
  
  .testimonial{
    font-size: 1.6rem;
  }
  
  .author-name{
    font-size: 2.4rem;
  }
  
  .author-title{
    font-size: 1.6rem;
  }
  .footer{
    padding-bottom: 0;
  }
}



/****** For Screens size of 1024px to 1430px 


*/
@media (min-width: 1270px) and (max-width: 1430px){
/*  html{
    font-size: 56.25%;
  }*/
  
  .layout{
    width: 100%;
    min-width: 0;
  }
  
  .container{
    width: 100%;
    padding: 0 2.5rem;
    margin: 0;
    max-width: none;
  }
  
  .logo{
    font-size: 3.5rem;
  }
  
  .footer-logo{
    font-size: 3.5rem;
  }
  .footer-copy{
    font-size: 1.4rem;
  }
  
  .footer-heading{
    font-size: 1.6rem;
  }
  
  .a-link:link,
  .a-link:visited{
    font-size: 1.3rem;
  }
  
  
  .h1{
    font-size: 4.5rem;
    margin-bottom: 2rem;
  }
  
  .h1s{
    font-size: 4rem;
  }
  
    .h2s{
    font-size: 3.5rem;
  }
  
  .h2{
   font-size: 3.5rem;
  }
  
  .h-m{
    font-weight: 700;
  }
  
  .span{
    font-size: 2rem;
    letter-spacing: 0.1rem;
    
  }
  
  .h2ss{
    font-size: 3rem;
    line-height: 1.1;
  }
  
  .h2sss{
    margin-bottom: 2.5rem;
  }
  
  .p{
    font-size: 1.4rem;
  }
  .p-h{
    margin-bottom: 2.5rem;
  }
  .p--bold{
    font-size: 2.5rem;
  }
  
  .span-small{
    font-size: 1.4rem;
  }
  
  .hero-img{
    width: 100%;
    border-radius: 2rem;
}
  
  .section-hero{
  padding: 6rem 0;
  margin-bottom: 7rem;
}

.high-light::before{
  content: "";
  position: absolute;
  width: 90%;
  padding-bottom: 4rem;
  border: 0.3rem solid #D3F985;
  border-radius: 55%;
  z-index: -1;
}

  
  .section-feature-in{
    padding: 3rem 0;
  margin-bottom: 3.2rem;
  }
  .span-flex{
    gap: 3rem;
  }
  
  
  .feature-img{
  height: 3.2rem;
}
  
  .section-why{
    padding: 4rem 0;
  margin-bottom: 3.2rem;
  }
  
  .card-img{
    width: 3rem;
    height: 3rem;
  }
  
  .img-co::before{
    content: "";
    width: 100%;
    padding-bottom: 3rem ;
    position: absolute;
    background-color: #D3F985;
    border-radius: 50%;
    z-index: -1;
    top: 0.8rem;
    left: 0.5rem;
}

.second::before{
    background-color: #A6E8F6;
}

.thrid::before{
    background-color: #FCBEDC;
}
  /*.   Flex Container          */
  
  .flex{
    gap: 4rem;
  }
  
  .flex-group{
    gap: 1rem
  }
  
  
  
  
  /*.                */
  .section-tour{
    padding: 4rem 0;
  margin-bottom: 3.2rem;
  }
  
  .tour-video{
    width: 90%;
  height: 60rem;
  border-radius: 2rem;
  }
  
  .section-stats{
  padding: 4rem 0;
  margin-bottom: 3.2rem;
}


.hightlight::before{
  width: 3rem;
  padding-bottom: 3rem;
  top: 1rem;
  left: 1.5rem;
  border-radius: 50%;
}

.seconds::before{
left: 1.5rem;
}

.thrids::before{
left: 1.5rem;
}
  
  .section-testimonial{
  padding: 4rem 0;
  margin-bottom: 3.2rem;
}
  
   .testimonial{
    font-size: 1.4rem;
  }
  
  .author-name{
    font-size: 2rem;
  }
  
  .author-title{
    font-size: 1.2rem;
  }
  .section-faq{
  padding: 4rem 0;
  margin-bottom: 3.2rem;
  }
  
    .faq-description{
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
  }
  
  .thrid-heading{
    font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  }
  
  .faq-answer{
    padding: 1rem 0;
  font-size: 1.4rem;
 line-height: 1.5;
  font-weight: 400;
  }



  .section-cta{
    padding: 4rem 0;
  margin-bottom: 3.2rem;
  }
  
.section-blog{
  padding: 4rem 0;
  margin-bottom: 3.2rem;
}
  
  .gap{
    gap: 2.5rem;
    margin-bottom: 0.3rem;
  }
  
    .tag{
    font-size: 1.3rem;
  }
  .tag-title{
    font-weight: 800;
  }
  
  .blog-heading{
    font-size: 2rem;
  }
  
  .footer{
    padding: 0;
    color: #fff;
}
  
}


@media (min-width: 1023px) and (max-width: 1260px){
/*  html{
    font-size: 56.25%;
  }*/
  
  .layout{
    width: 100%;
    min-width: 0;
  }
  
  .container{
    width: 100%;
    padding: 0 2.5rem;
    margin: 0;
    max-width: none;
  }
   .logo{
    font-size: 3rem;
  }
  
  .footer-logo{
    font-size: 3rem;
  }
  .footer-copy{
    font-size: 1.4rem;
  }
  
  .footer-heading{
    font-size: 1.8rem;
  }
  
   .a-link:link,
  .a-link:visited{
    font-size: 1.3rem;
  }
  
  
  .h1{
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }
  
  .h1s{
    font-size: 4rem;
  }
  
    .h2s{
    font-size: 3rem;
  }
  
  .h2{
   font-size: 3rem;
  }
  
  .h-m{
    font-weight: 700;
  }
  
  .span{
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    
  }
  
  .h2ss{
    font-size: 2.3rem;
    line-height: 1.1;
  }
  
  .h2sss{
    margin-bottom: 1.5rem;
  }
  
  .p{
    font-size: 1.4rem;
  }
  .p--bold{
    font-size: 1.8rem;
    font-weight: 600;
  }
  
  .p-h{
    margin-bottom: 1.5rem;
  }
  
  .span-small{
    font-size: 1.4rem;
  }
  
  
.nav-list{
  gap: 1.5rem;
}

.btn-black:link,
.btn-black:visited{
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    margin-right: 2rem;
}

.btn-white:link,
.btn-white:visited{
    padding: 1rem 1.5rem;
    border-radius: 2rem;
}

  .section-hero{
  padding: 4rem 0;
  margin-bottom: 5rem;
}
.hero-img{
    width: 100%;
    border-radius: 2rem;
}


.high-light::before{
  content: none;
}

  
  section{
    
  }
  
  /****.Grid and Flex Goes here */
  
  
  .grid{
    gap: 2.5rem;
  }
  
  .grids{
    gap: 2.5rem;
  }
  
  .flex{
    gap: 2.5rem;
  }
  
  .span-flex{
    gap: 2.5rem;
  }
  
 /*         */
 
 .section-feature-in{
    padding: 4rem 0;
  margin-bottom: 3.5rem;
  }
   .feature-img{
  height: 2.8rem;
}
  
   .section-why{
    padding: 4rem 0;
  margin-bottom: 3.5rem;
  }
  
    .card-img{
    width: 3rem;
    height: 3rem;
    background-color: #D3F985;
  }
  
  .second-img{
    background-color: #A6E8F6;
  }
  
  .thrid-img{
    background-color: #FCBEDC;
  }
  
  .img-co::before{
    content: none;
}

.section-tour{
    padding: 4rem 0;
  margin-bottom: 3.5rem;
  }
  
  .tour-video{
    width: 90%;
  height: 50rem;
  border-radius: 2rem;
  }

.section-stats{
  padding: 4rem 0;
  margin-bottom: 3.5rem;
}

.hightlight::before{
  content: none;
}

.section-testimonial{
  padding: 4rem 0;
  margin-bottom: 3.5rem;
}

.testimonial{
  font-size: 1.4rem;
}

.author-name{
    font-size: 2rem;
  }
  
  .author-title{
    font-size: 1.2rem;
  }
  
  .section-faq{
    padding: 4rem 0;
  margin-bottom: 3.5rem;
  }
  
   .faq-description{
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
  }
  
  .thrid-heading{
    font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  }
  
  .faq-answer{
    padding: 1rem 0;
  font-size: 1.4rem;
 line-height: 1.5;
  font-weight: 400;
  }
  
  .section-cta{
    padding: 4rem 0;
  margin-bottom: 3.5rem;
  }

.section-blog{
  padding: 4rem 0;
  margin-bottom: 3.5rem;
}
  
  .gap{
    gap: 2.5rem;
    margin-bottom: 0.3rem;
  }
  
    .tag{
    font-size: 1.3rem;
  }
  .tag-title{
    font-weight: 800;
  }
  
  .blog-heading{
    font-size: 1.8rem;
  }
  
.footer{
    padding-top: 4rem;
    padding-bottom: 0;
  }
}


@media (min-width: 559px) and (max-width: 990px){
/*  html{
    font-size: 56.25%;
  }*/
  
  .layout{
    width: 100%;
    min-width: 0;
  }
  
  .container{
    width: 100%;
    padding: 0 2.5rem;
    margin: 0;
    max-width: none;
  }
    .logo{
    font-size: 3rem;
  }
  
  .mobile-nav{
    display: block;
  }
  
  .main-nav{
    background-color: yellow;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: flex-start;
  }
  
  .nav-list{
    flex-direction: column;
    color: white;
  }
  .btn-black:link,
.btn-black:visited{
  background: none;
    color: #fff;
    padding: none;
    font-size: 4rem;
    border-radius: 2.3rem;
    margin-right: none;
}
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  .footer-logo{
    font-size: 3rem;
  }
  .footer-copy{
    font-size: 1.4rem;
  }
  
  .footer-heading{
    font-size: 1.8rem;
  }
  
}