@media (min-width: 1439px) and (max-width: 1700px) {
  /*.layout {
    min-width: 100%;
    max-width: 1700px;   
    margin: 0 auto; 
  }
  .head{
    max-width: 1439px;
    margin: 0 auto;
    padding: 0 1.6rem;
    
  }*/
    .layout{
    width: 100%;
    min-width: 0;
  }
  .head{
  width: 100%;
    max-width: none;
    margin: 0;
    padding: 0 2.5rem;
    
  }
  
  .container{
    width: 100%;
    padding: 0 2.5rem;
    margin: 0;
    max-width: none;
  }
  
  .logo{
    font-size: 3.5rem;
  }
  
  .footer-logo{
    font-size: 5rem;
  }
  
   .footer-copy{
    font-size: 1.6rem;
  }
  
  .footer-heading{
    font-size: 1.8rem;
  }

 /* .container {
    max-width: 1439px;  
    margin: 0 auto; 
    padding: 0 1.6rem;
  }*/

  

  
  .h1{
    font-size: 5.4rem;
    margin-bottom: 3rem;
  }
  
  .h1s{
    font-size: 4.5rem;
  }
  
  .h2s{
    font-size: 4.5rem;
  }
  
  .span{
    font-size: 2.5rem;
    letter-spacing: 0.1rem;
    
  }
  
  .h2ss{
    font-size: 4.5rem;
    line-height: 1.1;
  }
  
  .h2sss{
    margin-bottom: 2.5rem;
  }
  .p{
    font-size: 1.6rem;
  }
  
  .p-h{
    margin-bottom: 3rem;
  }
  
  .p--bold{
    font-size: 2.8rem;
  }
  
  .a-link:link,
  .a-link:visited{
    font-size: 1.3rem;
  }
  
  .main-nav-link:link,
.main-nav-link:visited{
    font-size: 1.3rem;
    
}
  
  .span-small{
    font-size: 2rem;
  }
  
  .hightlight::before{
  width: 3rem;
  padding-bottom: 3rem;
  top: 1.5rem;
  left: 2.5rem;
  border-radius: 50%;
}

.seconds::before{
left: 1.5rem;
}

.thrids::before{
left: 1.5rem;
}
  

  
  .faq-description{
    font-size: 1.6rem;
    line-height: 1.5;
    font-weight: 400;
  }
  
  .thrid-heading{
    font-size: 1.9rem;
  font-weight: 600;
  line-height: 1.5;
  }
  
  .faq-answer{
    padding: 1rem 0;
  font-size: 1.6rem;
 line-height: 1.5;
  font-weight: 400;
  }


  
  
  .gap{
    margin-bottom: 0.5rem;
  }
  
  .tag{
    font-size: 1.6rem;
  }
  .tag-title{
    font-weight: 700;
  }
  
  .blog-heading{
    font-size: 2.5rem;
  }

  .testimonial{
    font-size: 1.6rem;
  }
  
  .author-name{
    font-size: 2.4rem;
  }
  
  .author-title{
    font-size: 1.3rem;
  }
  .footer{
    padding-bottom: 0;
  }
  
  .card-img{
    width: 3.5rem;
    height: 3.5rem;
    padding: 1.5rem;
  }
  .blog-img{
    border-radius: 1.5rem;
  }
  
  
} 



/****** For Screens size of 1024px to 1430px */



@media (min-width: 1270px) and (max-width: 1430px){

  
  .layout{
    width: 100%;
    min-width: 0;
  }
  .head{
  width: 100%;
    max-width: none;
    margin: 0;
    padding: 0 2.5rem;
    
  }
  
  .container{
    width: 100%;
    padding: 0 2.5rem;
    margin: 0;
    max-width: none;
  }
  
  .logo{
    font-size: 3.5rem;
  }
  
  .footer-logo{
    font-size: 3.5rem;
  }
  .footer-copy{
    font-size: 1.4rem;
  }
  
  .footer-heading{
    font-size: 1.6rem;
  }
  
  .a-link:link,
  .a-link:visited{
    font-size: 1.3rem;
  }
  
  .main-nav-link:link,
.main-nav-link:visited{
    font-size: 1.3rem;
    
}
  
  
  .h1{
    font-size: 4.5rem;
    margin-bottom: 2rem;
  }
  
  .h1s{
    font-size: 4rem;
  }
  
    .h2s{
    font-size: 3.5rem;
  }
  
  .h2{
   font-size: 3.5rem;
  }
  
  .h-m{
    font-weight: 700;
  }
  
  .span{
    font-size: 2rem;
    letter-spacing: 0.1rem;
    
  }
  
  .h2ss{
    font-size: 3rem;
    line-height: 1.1;
  }
  
  .h2sss{
    margin-bottom: 2.5rem;
  }
  
  .p{
    font-size: 1.6rem;
  }
  .p-h{
    margin-bottom: 2.5rem;
  }
  .p--bold{
    font-size: 2.8rem;
  }
  
  .span-small{
    font-size: 1.4rem;
  }
  
  .hero-img{
    width: 100%;
    border-radius: 2rem;
}
  
  .section-hero{
  padding: 6rem 0;
  margin-bottom: 7rem;
}

.high-light::before{
  content: "";
  position: absolute;
  width: 90%;
  padding-bottom: 4rem;
  border: 0.3rem solid #D3F985;
  border-radius: 55%;
  z-index: -1;
}

  
  .section-feature-in{
    padding: 3rem 0;
  margin-bottom: 3.2rem;
  }
  .span-flex{
    gap: 3rem;
  }
  
  
  .feature-img{
  height: 3.2rem;
}
  
  .section-why{
    padding: 4rem 0;
  margin-bottom: 3.2rem;
  }
  
.card-img{
    width: 3rem;
    height: 3rem;
    background-color: #D3F985;
    padding: 1.5rem;
    border-radius: 50%;
}

.second-img{
    background-color: #FCBEDC;
}
.third-img{
    background-color: #A6E8F6;
}

  .flex{
    gap: 4rem;
  }
  
  .flex-group{
    gap: 1rem
  }
  
  
  
  

  .section-tour{
    padding: 4rem 0;
  margin-bottom: 3.2rem;
  }
  
  .tour-video{
    width: 90%;
  height: 60rem;
  border-radius: 2rem;
  }
  
  .section-stats{
  padding: 4rem 0;
  margin-bottom: 3.2rem;
}


.hightlight::before{
  width: 3rem;
  padding-bottom: 3rem;
  top: 1rem;
  left: 1.5rem;
  border-radius: 50%;
}

.seconds::before{
left: 1.5rem;
}

.thrids::before{
left: 1.5rem;
}
  
  .section-testimonial{
  padding: 4rem 0;
  margin-bottom: 3.2rem;
}
  
   .testimonial{
    font-size: 1.4rem;
  }
  
  .author-name{
    font-size: 2rem;
  }
  
  .author-title{
    font-size: 1.2rem;
  }
  .section-faq{
  padding: 4rem 0;
  margin-bottom: 3.2rem;
  }
  
    .faq-description{
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
  }
  
  .thrid-heading{
    font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  }
  
  .faq-answer{
    padding: 1rem 0;
  font-size: 1.4rem;
 line-height: 1.5;
  font-weight: 400;
  }



  .section-cta{
    padding: 4rem 0;
  margin-bottom: 3.2rem;
  }
  
.section-blog{
  padding: 4rem 0;
  margin-bottom: 3.2rem;
}
  
  .gap{
    gap: 2.5rem;
    margin-bottom: 0.3rem;
  }
  
    .tag{
    font-size: 1.3rem;
  }
  .tag-title{
    font-weight: 800;
  }
  
  .blog-heading{
    font-size: 2rem;
  }
  
  .blog-img{
    border-radius: 1.5rem;
  }
  
  .footer{
    padding: 0;
    color: #fff;
}
  
}


@media (min-width: 1023px) and (max-width: 1260px){

  .layout{
    width: 100%;
    min-width: 0;
  }
  .head{
  width: 100%;
    max-width: none;
    margin: 0;
    padding: 0 2.5rem;
    
  }
  
  .container{
    width: 100%;
    padding: 0 2.5rem;
    margin: 0;
    max-width: none;
  }
   .logo{
    font-size: 3rem;
  }
  
  .footer-logo{
    font-size: 3rem;
  }
  .footer-copy{
    font-size: 1.4rem;
  }
  
  .footer-heading{
    font-size: 1.8rem;
  }
  
   .a-link:link,
  .a-link:visited{
    font-size: 1.3rem;
  }
  
  .main-nav-link:link,
.main-nav-link:visited{
    font-size: 1.3rem;
    
}
  
  
  .h1{
    font-size: 4rem;
    margin-bottom: 1.5rem;
  }
  
  .h1s{
    font-size: 4rem;
  }
  
    .h2s{
    font-size: 3rem;
  }
  
  .h2{
   font-size: 3rem;
  }
  
  .h-m{
    font-weight: 700;
  }
  
  .span{
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
    
  }
  
  .h2ss{
    font-size: 2.3rem;
    line-height: 1.1;
  }
  
  .h2sss{
    margin-bottom: 1.5rem;
  }
  
  .p{
    font-size: 1.4rem;
  }
  .p--bold{
    font-size: 2.5rem;
    font-weight: 700;
  }
  
  .p-h{
    margin-bottom: 1.5rem;
  }
  
  .span-small{
    font-size: 1.4rem;
  }
  
  
.nav-list{
  gap: 1.5rem;
}

.btn-black:link,
.btn-black:visited{
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    margin-right: 2rem;
}

.btn-white:link,
.btn-white:visited{
    padding: 1rem 1.5rem;
    border-radius: 2rem;
}

  .section-hero{
  padding: 4rem 0;
  margin-bottom: 5rem;
}
.hero-img{
    width: 100%;
    border-radius: 2rem;
}


.high-light::before{
  content: none;
}

  
  section{
    
  }
  


  
  
  .grid{
    gap: 2.5rem;
  }
  
  .grids{
    gap: 2.5rem;
  }
  
  .flex{
    gap: 2.5rem;
  }
  
  .span-flex{
    gap: 2.5rem;
  }
  
  .grid-testimonal{
    gap: 2.5rem;
  }
  

 
 .section-feature-in{
    padding: 4rem 0;
  margin-bottom: 3.5rem;
  }
   .feature-img{
  height: 2.8rem;
}
  
   .section-why{
    padding: 4rem 0;
  margin-bottom: 3.5rem;
  }
  
.card-img{
    width: 2.5rem;
    height: 2.5rem;
    background-color: #D3F985;
    padding: 1rem;
    border-radius: 50%;
}

.second-img{
    background-color: #FCBEDC;
}
.third-img{
    background-color: #A6E8F6;
}
.section-tour{
    padding: 4rem 0;
  margin-bottom: 3.5rem;
  }
  
  .tour-video{
    width: 90%;
  height: 50rem;
  border-radius: 2rem;
  }

.section-stats{
  padding: 4rem 0;
  margin-bottom: 3.5rem;
}

.hightlight::before{
  content: none;
}

.section-testimonial{
  padding: 4rem 0;
  margin-bottom: 3.5rem;
}

.testimonial{
  font-size: 1.4rem;
}

.author-name{
    font-size: 2rem;
  }
  
  .author-title{
    font-size: 1.2rem;
  }
  
  .section-faq{
    padding: 4rem 0;
  margin-bottom: 3.5rem;
  }
  
   .faq-description{
    font-size: 1.4rem;
    line-height: 1.5;
    font-weight: 400;
  }
  
  .thrid-heading{
    font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
  }
  
  .faq-answer{
    padding: 1rem 0;
  font-size: 1.4rem;
 line-height: 1.5;
  font-weight: 400;
  }
  
  .section-cta{
    padding: 4rem 0;
  margin-bottom: 3.5rem;
  }

.section-blog{
  padding: 4rem 0;
  margin-bottom: 3.5rem;
}
  
  .gap{
    gap: 2.5rem;
    margin-bottom: 0.3rem;
  }
  
    .tag{
    font-size: 1.3rem;
  }
  .tag-title{
    font-weight: 800;
  }
  
  .blog-heading{
    font-size: 1.8rem;
  }
  
.footer{
    padding-top: 4rem;
    padding-bottom: 0;
  }
}


@media (min-width: 610px) and (max-width: 993px){

  
  .layout{
    width: 100%;
    min-width: 0;
  }
  .head{
  width: 100%;
    max-width: none;
    margin: 0;
    padding: 0 2.5rem;
    position: relative;
    
  }
  
  .container{
    width: 100%;
    padding: 0 5rem;
    margin: 0;
    max-width: none;
  }
    .logo{
    font-size: 5rem;
    z-index: 20;
  }
  
  .footer-logo{
    font-size: 5rem;
  }
  
 .nav-open .logo{
  color: #fff;
}
  
  .mobile-nav{
    display: block;
  }
  
  .main-nav{
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    transform: translateX(100%);
    transition: all 0.3s linear;
    opacity: 0;
    pointer-events: none;
    visibility: none;
  }
  
  
  .nav-list{
    flex-direction: column;
    padding-top: 30rem;
    gap: 6rem;
  }
  
  
 .main-nav-link:link,
.main-nav-link:visited{
  color: #fff;
  font-size: 3rem;
  transition: all 0.3s linear;
}

 .main-nav-link:hover,
.main-nav-link:active{
  color: #aaa;
  transform: translateX(30px);
}


.main-nav-cta:link,
.main-nav-cta:visited{
    background: none;
    padding: none;
    color: #fff;
    border-radius: none
}

.main-nav-cta:hover,
.main-nav-cta:active{
    background-color: none;
    box-shadow: none;
    color: #aaa;
}

.mobile-nav{
  z-index: 20;
}

.nav-open .main-nav{
  opacity: 1;
  z-index: 10;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.nav-open .menu-icon[name="close-outline"]{
    display: block;
}

.nav-open .menu-icon[name="menu-outline"]{
    display: none;
}


.nav-open .mobile-nav .menu-icon{
  color: #fff;
  
}

.flex{
  gap: 4rem;
  text-align: center;
}

.grid{
  gap: 8rem;
}

.grid-2-col{
  grid-template-columns: 1fr;
}

.grid-3-col{
  grid-template-columns: 1fr;
}

.hero-text-box{
  text-align: center;
}



.h1{
  font-size: 7.4rem;
  text-align: center;
  line-height: 1.2;
}

.p{
  font-size: 2.4rem;
}


/* Section Feature In.     */

.containers{
   overflow: hidden;
   position: relative;
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -mask-imagd: linear-gradient(to right, transparent, black 10%, black 90%, transparent)
}

.feature-in-img{
  gap: 8rem;
  animation: scroll 18s linear infinite;
}

.feature-img{
  height: 5rem;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: grayscale(100%) brightness(0.9);
  opacity: 100%;
}

.containers:hover .feature-in-img{
 animation-play-state: paused;
}

.feature-img:hover{
  transform: scale(1.1);
  filter: grayscale(0%) brightness(1);
}

@keyframes scroll {
  0%{
    transform: translateX(0%);
  }
  
  100%{
    transform: translateX(-50%);
  }
}

/*.             */


/*.     Section Why Choose Us. */
  
.span-flex{
  gap: 8rem;
}
  
  
  /*.         */
  
  
  /*.      Section Tour.    */
  

  .tour-video{
  width: 100%;
  height: 50rem;
  border-radius: 4rem;
  }
  
  
  /*.    Section Stats.    */
  
  .span-s{
    text-align: center;
    display: block;
  }
  
  .h-ms{
    text-align: center;
    line-height: 1.2;
  }
  
  .stats-col{
    grid-template-columns: 1fr 1fr;
  }
  
  .stats-1,
  .stats-3{
    justify-self: end;
  }
  
.h-m{
    font-size: 8rem;
    font-weight: 800;
  }
  
  .span-small{
    font-size: 2.5rem;
  }
  
  .grid-testimonal{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cards-1,
  .cards-2,
  .cards-3,
  .cards-4,
  .cards-5{
  align-self: auto;
  width: 70%;
  cursor: pointer;
    transition: all 0.4s linear;
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.1);
  }
  
 .grid-testimonal .cards:hover{
    transform: scale(1.1, 1.1);
    box-shadow: 0 1rem 2.5rem rgba(0, 0, 0, 0.2);
    
 }
  
  .testimonial{
    font-size: 2.4rem;
  }
  
  
  
  /*.         */
.h2sss{
  text-align: center;
}

/*.    Section Blog.    */
  
  
.gap{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
  .gap article{
    width: 70%;
  }
  
  .blog-img{
    border-radius: 2rem;
  }
  
  
  /*.        Footer Section.  */
  
  .gaps{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  
  .contact-col{
    text-align: center;
  }
  
  .footer-copy{
    font-size: 2.4rem;
  }
  
  
  .cta{
    flex-direction: column;
    align-items: center;
  }
  
  .cta input{
    padding: 2rem 0;
    font-size: 2.4rem;
    margin-bottom: 3rem;
    border-bottom: 2px solid #fff;
  }
  .cta input:focus {
  outline: none;
  border-bottom: 2px solid #fff;
}

.cta .form-btn{
    padding: 1.2rem 2.4rem;
    font-size: 3rem;
}

.footer-nav{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.footer-heading{
  font-size: 3rem;
}

.footer-link{
  display: flex;
  flex-direction: columns;
  align-items: center;
}

.a-footer:link,
.a-footer:visited{
  font-size: 2.5rem;
}

.footer-copy{
  font-size: 2.5rem;
  margin-top: 2rem;
  text-align: center;
}
  
}

@media (min-width: 500px) and (max-width: 607px){
  
    .layout{
    width: 100%;
    min-width: 0;
  }
  .head{
  width: 100%;
    max-width: none;
    margin: 0;
    padding: 0 2rem;
    position: relative;
  }
  
  .container{
    width: 100%;
    padding: 0 5rem;
    margin: 0;
    max-width: none;
    background-color: yellow;
  }
  
      .logo{
    font-size: 5rem;
    z-index: 20;
  }
  
  .footer-logo{
    font-size: 5rem;
  }
  
 .nav-open .logo{
  color: #fff;
}
  
  .mobile-nav{
    display: block;
  }
  
  .main-nav{
    background-color: #000;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    transform: translateX(100%);
    transition: all 0.3s linear;
    opacity: 0;
    pointer-events: none;
    visibility: none;
  }
  
  
  .nav-list{
    flex-direction: column;
    padding-top: 30rem;
    gap: 6rem;
  }
  
  
 .main-nav-link:link,
.main-nav-link:visited{
  color: #fff;
  font-size: 3rem;
  transition: all 0.3s linear;
}

 .main-nav-link:hover,
.main-nav-link:active{
  color: #aaa;
  transform: translateX(30px);
}


.main-nav-cta:link,
.main-nav-cta:visited{
    background: none;
    padding: none;
    color: #fff;
    border-radius: none
}

.main-nav-cta:hover,
.main-nav-cta:active{
    background-color: none;
    box-shadow: none;
    color: #aaa;
}

.mobile-nav{
  z-index: 20;
}

.nav-open .main-nav{
  opacity: 1;
  z-index: 10;
  pointer-events: auto;
  visibility: visible;
  transform: translateX(0);
}

.nav-open .menu-icon[name="close-outline"]{
    display: block;
}

.nav-open .menu-icon[name="menu-outline"]{
    display: none;
}


.nav-open .mobile-nav .menu-icon{
  color: #fff;
  
}

.flex{
  gap: 4rem;
  text-align: center;
}

.grid{
  gap: 5rem;
}


.grid-2-col{
  grid-template-columns: 1fr;
}

.grid-3-col{
  grid-template-columns: 1fr;
}

.h1{
  font-size: 4.5rem;
  text-align: center;
  line-height: 1.2;
}

.p{
  font-size: 1.7rem;
}

.section-hero{
  margin-top: 2rem;
  padding: 5rem 0;
  margin-bottom: 3.5rem;
}

.hero-text-box{
  text-align: center;
}

.hero-img-box{
  width: 100%;
  height: 70%;
}



/*.        Section Features In. */

.section-feature-in{
  padding: 4rem 0;
  margin-bottom: 3.5rem;
}

.span{
  font-size: 2rem;
}


.containers{
   overflow: hidden;
   position: relative;
  -webkit-mask-image: linear-gradient(to right, transparent, black 10%, black 90%, transparent);
  -mask-imagd: linear-gradient(to right, transparent, black 10%, black 90%, transparent)
}

.feature-in-img{
  gap: 5rem;
  animation: scroll 18s linear infinite;
}

.feature-img{
  height: 3rem;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: grayscale(100%) brightness(0.9);
  opacity: 100%;
}

.containers:hover .feature-in-img{
 animation-play-state: paused;
}

.feature-img:hover{
  transform: scale(1.1);
  filter: grayscale(0%) brightness(1);
}

@keyframes scroll {
  0%{
    transform: translateX(0%);
  }
  
  100%{
    transform: translateX(-50%);
  }
}

/*.     Section Why Choose Us. */
  
  
  .section-why{
  padding: 4rem 0;
  margin-bottom: 3.5rem;
}
.span-flex{
  gap: 5rem;
}

.h2{
  font-size: 3rem;
}

.flex-s{
  text-align: center;
}



.p--bold{
  font-size: 2.2rem;
}
.card-img{
  height: 3.2rem;
  width: 3.2rem;
}
  
  
  /*.         */
  
  
  /*.      Section Tour.    */
  

  .tour-video{
  width: 100%;
  height: 50rem;
  border-radius: 4rem;
  }
  
}