@media (max-width: 1680px) {
  .layout{
  min-width: 1440px;
  max-width: 1680px;
  margin: 0 auto;
  }
  
  .container {
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .section-hero{
    background-color: yellow;
  }
}