*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  min-width: 256rem;
}

.head{
  /*background-color: yellow;*/
  padding: 3rem 0;
}
.head-container{
  max-width: 192rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: pink;*/
 height: 6rem;
 padding: 0 2rem;
}
.main-logo{
  color: #000;
}

.main-nav-list{
  display: flex;
  gap: 3rem;
  list-style: none;
  align-items: center;
}

.main-nav-link:link, .main-nav-link:visited{
  display: inline-block;
  font-size: 2.5rem;
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  transition: all 0.3s;
}
.main-nav-link:hover, .main-nav-link:active{
  color: #000;
}

.main-nav-link.nav-cta:link, .main-nav-link.nav-cta:visited{
  background-color: #000;
  padding: 2rem 4rem;
  color: #fff;
  border-radius: 5rem;
}
.main-nav-link.nav-cta:hover, .main-nav-link.nav-cta:active{
  background-color: #fff;
  color: #000;
  box-shadow: inset 0 0 0 3px #000;
}

.section-hero{
  padding: 12rem 0;
}

.gap:link,
.gap:visited{
  display: inline-flex;
  align-items: center;
  gap: 2rem;
  font-size: 2.5rem;
  color: #fff;
  padding: 3rem 3rem;
  background-color: #000;
  border-radius: 5rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
}

.gap:hover,
.gap:active{
  background-color: #fff;
  box-shadow: inset 0 0 0 3px #000;
  color: #000;
}

.hero-icon{
  width: 2.4rem;
  height: 2.4rem;
}