.section-hero{
  padding: 10rem 0;
  margin-bottom: 6.2rem;
}

.high-light{
  position: relative;
  z-index: 1;
}

.high-light::before{
  content: "";
  position: absolute;
  width: 90%;
  padding-bottom: 6rem;
  border: 0.3rem solid #D3F985;
  border-radius: 55%;
  z-index: -1;
}

.section-feature-in{
  padding: 10rem 0;
  margin-bottom: 6.2rem;
}

.feature-in-img{
  display: flex;
  gap: 6rem;
}

.feature-img{
  height: 6.8rem;
  filter: brightness(0);
  opacity: 60%;
}

/*
Section Why Choose Us

*/

.section-why{
  padding: 10rem 0;
  margin-bottom: 6.2rem;
}

.section-tour{
  padding: 10rem 0;
  margin-bottom: 6.2rem;
}

.tour-video{
  width: 100%;
  height: 80rem;
  border-radius: 4rem;
}

.section-stats{
  padding: 10rem 0;
  margin-bottom: 6.2rem;
}

.h-ms{
  margin-bottom: 4rem;
}

.h-m{
  margin-bottom: 1rem;
}

.hightlight{
  position: relative;
  z-index: 1;
}

.hightlight::before{
  content: "";
  position: absolute;
  width: 5rem;
  padding-bottom: 5rem;
  background-color: #D3F985;
  top: 1.7rem;
  left: 5rem;
  border-radius: 50%;
  z-index: -1;
}

.seconds::before{
background-color: #A6E8F6;
left: 2.5rem;
}

.thrids::before{
background-color: #FCBEDC;
left: 2.5rem;
}

.fourth::before{
    background-color: #FBC899;
}

/*


Section Testimonial 

*/

.section-testimonial{
  padding: 10rem 0;
  margin-bottom: 6.2rem;
}



.cards-img{
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
}

.testimonial{
 font-size: 2.4rem;
 line-height: 1.5;
   font-weight: 400;
   color: #313131;
}

.author-name{
  font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;
    color: #1a1a1a;
    margin-bottom: 0.5rem;
}

.author-title{
  font-size: 2.4rem;
  color: #313131;
}

.cards{
  background-color: #D3F985;
  padding: 4rem 2rem;
  border-radius: 3rem;
}

.cards-1{
    align-self: end;
}

.cards-2{
  background-color: #FCBEDC;
}

.cards-3{
  background-color: #A6E8F6;
    align-self: end;
}

.cards-4{
  background-color: #FCBEDC;
  width: 30%;
}

.cards-5{
  background-color: #FBC899;
  width: 30%;
}

.flex-card{
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  gap: 5rem;
}
