.section-hero{
  padding: 10rem 0;
  margin-bottom: 6.2rem;
}

.high-light{
  position: relative;
  z-index: 1;
}

.high-light::before{
  content: "";
  position: absolute;
  width: 90%;
  padding-bottom: 6rem;
  border: 0.3rem solid #D3F985;
  border-radius: 55%;
  z-index: -1;
}

.section-feature-in{
  padding: 10rem 0;
  margin-bottom: 6.2rem;
}

.feature-in-img{
  display: flex;
  gap: 6rem;
}

.feature-img{
  height: 6.8rem;
  filter: brightness(0);
  opacity: 60%;
}

/*
Section Why Choose Us

*/

.section-why{
  padding: 10rem 0;
  margin-bottom: 6.2rem;
}