*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  min-width: 166rem;
}

.head{
  /*background-color: yellow;*/
  padding: 3rem 0;
}
.head-container{
  max-width: 192rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*background-color: pink;*/
 height: 6rem;
 padding: 0 6rem;
}
.main-logo{
  color: #000;
}

.main-nav-list{
  display: flex;
  gap: 3rem;
  list-style: none;
  align-items: center;
}

.main-nav-link:link, .main-nav-link:visited{
  display: inline-block;
  font-size: 2.5rem;
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  transition: all 0.3s;
}
.main-nav-link:hover, .main-nav-link:active{
  color: #000;
}

.main-nav-link.nav-cta:link, .main-nav-link.nav-cta:visited{
  background-color: #000;
  padding: 2rem 4rem;
  color: #fff;
  border-radius: 5rem;
}
.main-nav-link.nav-cta:hover, .main-nav-link.nav-cta:active{
  background-color: #fff;
  color: #000;
  box-shadow: inset 0 0 0 3px #000;
}
.section-hero{
  /*background-color: yellow;*/
  padding: 12rem 0;
}

.hero{
  width: 100%;
  max-width: 192rem;
  margin: 0 auto;
  padding: 0 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 5rem;
}
.primary-heading{
  font-size: 8rem;
  line-height: 1.1;
  margin-bottom: 4rem;
  font-weight: 800;
}

.highlight{
  position: relative;
  z-index: 1;
}
.highlight::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 80%;
  left: -1rem;
  z-index: -1;
  border: 3px solid #D3F985;
  border-radius: 50%;
}

.hero-description{
  font-size: 3rem;
  line-height: 1.6;
  margin-bottom: 4rem;
  font-weight: 500;
}
.hero-btn:link, .hero-btn:visited{
  display: inline-block;
  font-size: 2.5rem;
  color: #fff;
  background-color: #000;
  padding: 2rem 4rem;
  border-radius: 5rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
  
}

.hero-btn:hover, .hero-btn:active{
  background-color: #fff;
  box-shadow: inset 0 0 0 3px #000;
  color: #000;
}
.hero-img{
  width: 100%;
  border-radius: 4rem;
}

.section-feature-in{
  /*background-color: pink;*/
  padding: 8rem 0;
}

.feature-in-img{
  display: flex;
  justify-content: space-around;
}


.feature-in-img img{
  height: 60px;
  filter: brightness(0);
  opacity: 70%;
}



.section-why{
  padding: 12rem 0;
}


.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  padding: 3rem 2rem;
}
.card-img{
  width: 4.4rem;
}

.card-img-box{
  position: relative;
  z-index: 1;
}

.card-img-box::before{
  content: "";
  position: absolute;
  top: 1.5rem;
  left: 2rem;
  width: 80%;
  padding-bottom: 80%;
  border-radius: 50%;
  background-color: #D3F985;
  z-index: -1;
}

.card-heading{
  font-size: 4.5rem;
}

.card-description{
  font-size: 3rem;
  line-height: 1.6;
  text-align: center;
  font-weight: 400;
}

.blue::before{
  background-color: #A6E8F6;
}

.pink::before{
  background-color: #FCBEDC;
}


.section-tour{
  padding: 12rem 0;
  /*background-color: yellow;*/
}

.first-span{
  margin-bottom: 0;
  display: inline-block;
}

.heading-secondary-aligns{
  margin-bottom: 0;
}

.tour-description{
  max-width: 140rem;
  font-size: 3rem;
  text-align: center;
  line-height: 1.6;
  margin-bottom: 5rem;
}
.video-box{
  width: 100%;
  max-width: 192rem;
  aspect-ratio: 16/9;
  overflow: hidden;
  border-radius: 4rem;
}

.tour-video{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.section-statistics{
  padding: 12rem 0;
}

.grid-1{
  align-items: center;
}

.second-span{
  display: inline-block;
  margin-bottom: 2rem;
}

.second-heading{
  margin-bottom: 8rem;
}

.statistics-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 3rem;
  column-gap: 3rem;
}
.stats-card{
  
}

.stats{
  font-size: 6rem;
  font-weight: 800;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1;
}

.stats::before{
  content: "";
  position: absolute;
  width: 10%;
  padding-bottom: 10%;
  background-color: #D3F985;
  border-radius: 50%;
  left: 4rem;
  top: 2rem;
  z-index: -1;
}

.second-stats::before{
  background-color: #A6E8F6;
  left: 2rem;
  top: 2rem;
}

.thrid-stats::before{
  background-color: #FCBEDC;
  left: 3rem;
}

.fourt-stats::before{
  background-color: #FBC899;
  left: 5rem;
}

.stats-name{
  display: inline-block;
  font-size: 3rem;
}

.stats-img{
  width: 100%;
  border-radius: 4rem;
}

.section-testimonial{
  padding: 12rem 0;
}

.align{
  align-items: center;
  justify-items: center;
  gap: 8rem;
}
.last-two-grid{
  grid-column: 1 / -1;
  display: flex;
  gap: 8rem;
  align-items: center;
  justify-content: center;
}

.test-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.testimonials{
  background-color: #D3F985;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 3rem;
}

.second-testimonials{
  background-color: #F1F1F1;
}

.thrid-testimonials{
  background-color: #A6E8F6;
}

.forth-testimonials{
  background-color: #FCBEDC;
  /*grid-column: 1/2;
  grid-row: 2/2;*/
  width: 30%;
}


.fifth-testimonials{
  background-color: #FBC899;
  /*grid-column: 3/4;
  grid-row: 2/2;*/
  width: 30%;
}

.testimonial-img{
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 3rem;
}

.testimonial-text{
  font-size: 3rem;
  line-height: 1.6;
  text-align: center;
  font-weight: 400;
  margin-bottom: 3rem;
}

.testimonial-name{
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.78px;
  text-align: center;
  margin-bottom: 1rem;
}

.testimonial-job{
  font-size: 3rem;
}

.section-faq{
  padding: 12rem 0;
}

.faq-text-box{

}
.faq-subheading{
  display: inline-block;
  margin-bottom: 3rem;
  
}

.faq-heading{
  margin-bottom: 3rem;
}

.faq-description{
  font-size: 3rem;
  line-height: 1.6;
  font-weight: 400;
  
}

.faq-question-answer{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.faq-questions{
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  gap: 3rem;
}


.open{
  transition: all 0.3s linear;
}
.open:hover{
  transform: translateY(1rem);
}

.open:hover .hidden-box{
  display: block;
}

.open:hover .faq-img{
  transform: rotate(180deg);
  transition: all 0.3s;
}

.thrid-heading{
  grid-column: 1 / span 3;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1.5;
}

.faq-img{
  width: 3.4rem;
  grid-column: 4;
}

.hidden-box{
grid-column: 1 / span 3;
  grid-row: 2;
  display: none;
}

.faq-answer{
  padding: 2rem 0;
  font-size: 3rem;
  line-height: 1.6;
  font-weight: 400;
}

.section-cta{
  padding: 12rem 0;
}

.cta-flex{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5rem;
}

.heading-secondary-cta{
  font-size: 9rem;
  line-height: 1.1;
  font-weight: 800;
  
}

.cta-description{
  font-size: 3rem;
  line-height: 1.6;
  font-weight: 400;
}

.cta-br{
  display: inline-block;
}

.cta-btn:link, .cta-btn:visited{
  display: inline-block;
  font-size: 2.5rem;
  color: #fff;
  background-color: #000;
  padding: 2rem 4rem;
  border-radius: 5rem;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.3s;
}

.cta-btn:hover, .cta-btn:active{
  background-color: #fff;
  box-shadow: inset 0 0 0 3px #000;
  color: #000;
}

.section-blog{
  padding: 12rem 0;
}

.blog-flex{
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.blog-header{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.blog-span{
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.78px;
}

.blog-heading{
  margin-bottom: 0;
}

.blog-header-description{
  font-size: 3rem;
}

.blog-card{
  
}

.blog-card-img{
  border-radius: 3rem;
  width: 100%;
  height: 60%;
}

.blog-content{
  padding: 3rem 0 2rem 0;
}

.blog-card-tag{
  margin-bottom: 2rem;
}

.tag{
  display: inline-block;
  font-size: 2rem;
  margin-right: 2rem;
  padding: 0.8rem 0.8rem;
}

.topic{
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 0.8rem;
}

.first{
  background-color: #A6E8F6;
}
.second{
  background-color: #FCBEDC;
}
.third{
  background-color: #D3F985;
}

.time{
  font-weight: 400;
  color: #666;
}

.blog-card-heading{
  font-size: 4.5rem;
  line-height: 1.1;
  margin-bottom: 2rem;
}


.blog-btn:link,
.blog-btn:visited{
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 2rem;
  gap: 2rem;
  color: #666;
  transition: all 0.3s;
}

.blog-btn:hover,
.blog-btn:active{
  color: #000;
}

.blog-icon{
  width: 2.4rem;
  height: 2.4rem;
}

.blog-btn-link{
  display: flex;
  align-items: center;
  justify-content: center;
}

.blog-btn-btn:link,
.blog-btn-btn:visited{
  text-decoration: none;
  font-size: 2.5rem;
  font-weight: 500;
  color: #000;
  border: 2px solid #000;
  padding: 2rem 4rem;
  border-radius: 4rem;
  transition: all 0.3s;
}

.blog-btn-btn:hover,
.blog-btn-btn:active{
  background-color: #000;
  color: #fff;
}