.section-hero{
  padding: 10rem 0;
  margin-bottom: 6.2rem;
}

.high-light{
  position: relative;
  z-index: 1;
}

.high-light::before{
  content: "";
  position: absolute;
  width: 90%;
  padding-bottom: 6rem;
  border: 0.3rem solid #D3F985;
  border-radius: 55%;
  z-index: -1;
}

.section-feature-in{
  padding: 10rem 0;
  margin-bottom: 6.2rem;
}

.feature-in-img{
  display: flex;
  gap: 6rem;
}

.feature-img{
  height: 6.8rem;
  filter: brightness(0);
  opacity: 60%;
}

/*
Section Why Choose Us

*/

.section-why{
  padding: 10rem 0;
  margin-bottom: 6.2rem;
}

.section-tour{
  padding: 10rem 0;
  margin-bottom: 6.2rem;
}

.tour-video{
  width: 100%;
  height: 80rem;
  border-radius: 4rem;
}

.section-stats{
  padding: 10rem 0;
  margin-bottom: 6.2rem;
}

.h-ms{
  margin-bottom: 4rem;
}

.h-m{
  margin-bottom: 1rem;
}

.hightlight{
  position: relative;
  z-index: 1;
}

.hightlight::before{
  content: "";
  position: absolute;
  width: 5rem;
  padding-bottom: 5rem;
  background-color: #D3F985;
  top: 1.7rem;
  left: 5rem;
  border-radius: 50%;
  z-index: -1;
}

.seconds::before{
background-color: #A6E8F6;
left: 2.5rem;
}

.thrids::before{
background-color: #FCBEDC;
left: 2.5rem;
}


.fourth::before{
    background-color: #FBC899;
}
