*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  font-size: 62.5%;
}
body{
  min-width: 166rem;
}

.head{
  padding: 3rem 0;
}
.head-container{
  max-width: 192rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
 height: 6rem;
 padding: 0 6rem;
}
.main-logo{
  color: #000;
}

.main-nav-list{
  display: flex;
  gap: 3rem;
  list-style: none;
  align-items: center;
}

.main-nav-link:link, .main-nav-link:visited{
  display: inline-block;
  font-size: 2.5rem;
  text-decoration: none;
  color: #495057;
  font-weight: 600;
  transition: all 0.3s;
}
.main-nav-link:hover, .main-nav-link:active{
  color: #000;
}

.main-nav-link.nav-cta:link, .main-nav-link.nav-cta:visited{
  background-color: #000;
  padding: 2rem 4rem;
  color: #fff;
  border-radius: 5rem;
}
.main-nav-link.nav-cta:hover, .main-nav-link.nav-cta:active{
  background-color: #fff;
  color: #000;
  box-shadow: inset 0 0 0 3px #000;
}

.section-hero{
  padding: 12rem 0 20rem 0;
 /* background-color: yellow;*/
}

.grid-2{
  align-items: center;
}

.hero-img{
  width: 100%;
  border-radius: 5rem;
}

.section-our-mission{
  padding: 12rem 0;
  /*background-color: yellow;*/
}

.mission-span{
  display: inline-block;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.78px;
  margin-bottom: 4rem;
}

.grid-items{
  display: flex;
  font-size: 2rem;
  font-weight: 500;
  align-items: center;
  gap: 1rem;
}

.checkmark-img{
  width: 2.4rem;
  height: 2.4rem;
}

.section-mission-img{
  width: 100%;
  border-radius: 4rem;
}

.section-journey{
  padding: 12rem 0;
}

.journey-card{
  background-color: #F1F1F1;
  border-radius: 3rem;
  padding: 8rem 2rem;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}


.journey-cards{
  font-size: 2.8rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.journey-cards-span{
  display: inline-block;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.9px;
  
}
.jor-icon{
  width: 4rem;
  height: 4rem;
  margin-bottom: 4rem;
}
.mission{
  padding: 2rem 4rem;
}
.mission .journey-card:hover{
  transform: scale(1.1);
}

.mission:hover .journey-card:not(:hover){
  transform: scale(0.95, 0.95);
}

.section-Innovators{
  padding: 12rem 0;
}

.founders-badge{
  margin-bottom: 2rem;
}
.founders-heading{
  margin-bottom: 4rem;
}
.gen-span{
  display: block;
}

.founder-cards{
  padding: 5rem 0;
}

.founder-card{
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.founder-img{
  width: 100%;
  border-radius: 4rem;
}
.founder-name{
  font-size: 3rem;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.78px;
  margin-bottom: 1rem;
}

.founder-title{
  font-size: 2rem;
  color: #666;
}