.section-hero{
  padding: 12rem 0;
}

.high-light{
  position: relative;
  z-index: 1;
}

.high-light::before{
  content: "";
  position: absolute;
  width: 90%;
  padding-bottom: 8rem;
  border: 0.3rem solid #D3F985;
  border-radius: 55%;
  z-index: -1;
}

.hero-text-box{
  
}
.hero-img-box{
  background-color: pink;
}